
@{
    ViewBag.Title = "indexsosanh";
    Layout = "~/Views/Shared/_layout_Desktop.cshtml";
}


<link rel="stylesheet" href="~/ContentProject2/css/style.css">
<link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<main class="main_project2 padding-20px">
    <section class="start_css s1">
        <div>
            <div class="start_css s1-compare-text">
                <p class="start_css" >So sánh sản phẩm</p>
                <h3 class="start_css">iPhone 14 Pro 256GB</h3>
                <p class="start_css" >&</p>
                <h3 class="start_css">iPhone 14 Pro 512GB</h3>
            </div>
        </div>
        <ul class="start_css listcompare1" data-catename="điện thoại">
            <li class="start_css detail1-item1">
                <div class="start_css s1-compare-detail1">
                    <div class="start_css s1-compare-detail-img">
                        <img src="~/ContentProject2/images/sm-s908_galaxys22ultra_front_burgundy_211119_3.jpg.png" alt=""
                             class="start_css onclick" data-act="cl1">
                    </div>
                    <h3 class="start_css">Phụ kiện Samsung</h3>
                    <div class="start_css s1-compare-detail-price">
                        <h2 class="start_css" >24.990.000 ₫</h2>
                        <p class="start_css" >30.990.000 ₫</p>
                    </div>
                    <div class="start_css s1-compare-detail-save">
                        <h4 class="start_css">Đã tiết kiệm <span>2.000.000đ</span></h4>
                    </div>
                    <!-- <div onclick="myclosescompare1()" class="start_css closes-ss1">
                        <img src="~/ContentProject2/images _Mobile/close.svg" alt="">
                    </div> -->
                </div>
                <span class="start_css removeCompare2 onclick2-remove1" data-vtv="s1-detail1">
                    <img src="~/ContentProject2/images _Mobile/close.svg" alt="">
                </span>
            </li>
            <li class="start_css detail1-item2">
                <div class="start_css s1-compare-detail1">
                    <div class="start_css s1-compare-detail-img">
                        <img src="~/ContentProject2/images/sm-s908_galaxys22ultra_front_burgundy_211119_3.jpg.png" alt="">
                    </div>
                    <h3 class="start_css">Phụ kiện Samsung</h3>
                    <div class="start_css s1-compare-detail-price">
                        <h2 class="start_css" >24.990.000 ₫</h2>
                        <p class="start_css" >30.990.000 ₫</p>
                    </div>
                    <div class="start_css s1-compare-detail-save">
                        <h4 class="start_css">Đã tiết kiệm <span>2.000.000đ</span></h4>
                    </div>
                    <!-- <div onclick="myclosescompare1()" class="start_css closes-ss1">
                        <img src="~/ContentProject2/images _Mobile/close.svg" alt="">
                    </div> -->
                </div>
                <span class="start_css removeCompare2 onclick2-remove2" data-vtv="s1-detail2">
                    <img src="~/ContentProject2/images _Mobile/close.svg" alt="">
                </span>
            </li>
            <li class="start_css detail-item-none">
                <div class="start_css s1-compare-detail s1-detail-none1 padding-none">
                    <div class="start_css s1-compare-detail-insert">
                        <a class="start_css" href="">
                            <img src="~/ContentProject2/images/add.svg" alt="">
                        </a>
                        <h2 class="start_css" >Thêm sản phẩm</h2>
                    </div>
                </div>
            </li>
        </ul>
    </section>


    <section class="start_css s2-compare">
        <div class="start_css info-right-speci">
            <div class="start_css info-right-speci-title">
                <h2 class="start_css" >THÔNG SỐ KỸ THUẬT</h2>
            </div>
            <div class="start_css info-right-speci-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="start_css table-title">Hệ điều hành</td>
                            <td class="start_css s1-detail1">Android 13</td>
                            <td class="start_css s1-detail2">Android 13</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                        <tr>
                            <td class="start_css table-title">Màn hình:</td>
                            <td class="start_css s1-detail1">Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)</td>
                            <td class="start_css s1-detail2">Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                        <tr>
                            <td class="start_css table-title">Camera sau:</td>
                            <td class="start_css s1-detail1">Chính 200 MP &amp; Phụ 12 MP, 10 MP, 10 MP</td>
                            <td class="start_css s1-detail2">Chính 200 MP &amp; Phụ 12 MP, 10 MP, 10 MP</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="start_css info-right-speci-title">
                <h2 class="start_css" >THÔNG SỐ KỸ THUẬT</h2>
            </div>
            <div class="start_css info-right-speci-content">
                <table>
                    <tbody>
                        <tr>
                            <td class="start_css table-title">Hệ điều hành</td>
                            <td class="start_css s1-detail1">Android 13</td>
                            <td class="start_css s1-detail2">Android 13</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                        <tr>
                            <td class="start_css table-title">Màn hình:</td>
                            <td class="start_css s1-detail1">Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)</td>
                            <td class="start_css s1-detail2">Dynamic AMOLED 2X, 6.8", Quad HD+ (2K+)</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                        <tr>
                            <td class="start_css table-title">Camera sau:</td>
                            <td class="start_css s1-detail1">Chính 200 MP &amp; Phụ 12 MP, 10 MP, 10 MP</td>
                            <td class="start_css s1-detail2">Chính 200 MP &amp; Phụ 12 MP, 10 MP, 10 MP</td>
                            <td class="start_css F4F4F4 s1-detail3"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="start_css s2-compare-all">
            <div class="start_css s2-compare-btn">
                <div class="start_css s2-compare-btn2 s1-detail1">
                    <a class="start_css s2-compare-btn2-now">
                        <button>
                            <h2 class="start_css" >
                                MUA NGAY
                            </h2>
                        </button>
                    </a>
                    <a href="file:///C:/Users/Admin/Documents/GitHub/SmartPhoneSS-Detail/index.html"
                       class="start_css s2-compare-btn2-instm0">
                        <button>
                            <h2 class="start_css" >
                                TRẢ GÓP 0%
                            </h2>
                            <p class="start_css" >
                                Trả trước chỉ từ 10.796.000₫
                            </p>
                        </button>
                    </a>
                    <a href="file:///C:/Users/Admin/Documents/GitHub/SmartPhoneSS-Detail/index.html"
                       class="start_css s2-compare-btn2-instmcart">
                        <button>
                            <h2 class="start_css" >
                                TRẢ GÓP QUA THẺ
                            </h2>
                            <p class="start_css" >
                                (Visa, Mastercard, JCB)
                            </p>
                        </button>
                    </a>
                </div>
                <div class="start_css s2-compare-btn2 s1-detail2">
                    <a class="start_css s2-compare-btn2-now">
                        <button>
                            <h2 class="start_css" >
                                MUA NGAY
                            </h2>
                        </button>
                    </a>
                    <a href="file:///C:/Users/Admin/Documents/GitHub/SmartPhoneSS-Detail/index.html"
                       class="start_css s2-compare-btn2-instm0">
                        <button>
                            <h2 class="start_css" >
                                TRẢ GÓP 0%
                            </h2>
                            <p class="start_css" >
                                Trả trước chỉ từ 10.796.000₫
                            </p>
                        </button>
                    </a>
                    <a href="file:///C:/Users/Admin/Documents/GitHub/SmartPhoneSS-Detail/index.html"
                       class="start_css s2-compare-btn2-instmcart">
                        <button>
                            <h2 class="start_css" >
                                TRẢ GÓP QUA THẺ
                            </h2>
                            <p class="start_css" >
                                (Visa, Mastercard, JCB)
                            </p>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- <script>

    $(document).ready(function(){
        $(".onclick").click(function(){
            var target = $(this).attr("data-act");
            $('.' + target).html('');
        });

        $(".onclick2-remove").click(function(){
            var target = $(this).attr("data-vtv");
            $('.' + target).css("display","none");
            var target_display = $(this).attr("data-display");
            $('.' + target_display).css("display","flex");
        });
    });
</script> -->
