body.mi-modal__body--overflow-hidden {
    overflow: hidden
}

.mi-modal .ReactModal__Overlay {
    background-color: initial;
    transition: background-color .25s ease-in-out
}

.mi-modal .ReactModal__Overlay--after-open.mi-modal__overlay {
    background-color: #0009
}

.mi-modal .ReactModal__Overlay--before-close.mi-modal__overlay {
    background-color: initial
}

.mi-modal .ReactModal__Content {
    opacity: 0;
    overflow: hidden;
    transform: translateY(-65%);
    transition-duration: .35s;
    transition-property: opacity,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.mi-modal .ReactModal__Content--after-open.mi-modal__content {
    opacity: 1;
    transform: translateY(-50%)
}

.mi-modal .ReactModal__Content--before-close.mi-modal__content {
    opacity: 0;
    transform: translateY(-65%)
}

.mi-modal .mi-modal__overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 30
}

.mi-modal .mi-modal__content {
    background-color: #fff;
    background-color: var(--background-white);
    border-radius: 4px;
    bottom: unset;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    left: 0;
    margin: auto;
    max-height: min(80%,900px);
    max-width: min(90%,640px);
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: 80%
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__content {
        --content-padding:0 16px;
        min-width: 240px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__content {
        --content-padding:0 24px;
        min-width: 600px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__content {
        --content-padding:0 36px;
        min-width: 600px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__content {
        --content-padding:0 48px;
        min-width: 600px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__content {
        --content-padding:0 48px;
        min-width: 600px
    }
}

.mi-modal .mi-modal__picture {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    width: auto
}

.mi-modal .mi-modal__picture-icon {
    width: 100%
}

.mi-modal .mi-modal__header {
    align-items: center;
    box-sizing: border-box;
    color: #191919;
    color: var(--text-base);
    display: flex;
    flex-basis: auto;
    flex-flow: column nowrap;
    flex-shrink: 0;
    justify-content: center;
    line-height: 1.2;
    padding: var(--content-padding);
    text-align: center;
    width: 100%
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__header {
        font-size:16px;
        margin: 30px auto 20px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__header {
        font-size:20px;
        margin: 32px auto 24px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__header {
        font-size:24px;
        margin: 40px auto 32px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__header {
        font-size:24px;
        margin: 40px auto 32px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__header {
        font-size:24px;
        margin: 40px auto 32px
    }
}

.mi-modal .mi-modal__header:empty {
    display: none
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__header--only-close {
        margin-bottom:6px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__header--only-close {
        margin-bottom:8px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__header--only-close {
        margin-bottom:12px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__header--only-close {
        margin-bottom:12px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__header--only-close {
        margin-bottom:12px
    }
}

.mi-modal .mi-modal__title-wrap {
    align-items: center;
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    width: 100%
}

.mi-modal .mi-modal__title {
    color: #191919;
    color: var(--text-base);
    font-weight: 700;
    width: 100%
}

.mi-modal .mi-modal__title--left {
    text-align: left
}

.mi-modal .mi-modal__close {
    color: #dbdbdb;
    cursor: pointer;
    font-size: var(--icon-size);
    font-weight: 400;
    left: unset;
    position: absolute;
    right: var(--icon-size);
    top: var(--icon-size);
    -webkit-user-select: none;
    user-select: none
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__close {
        --icon-size:16px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__close {
        --icon-size:16px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__close {
        --icon-size:24px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__close {
        --icon-size:24px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__close {
        --icon-size:24px
    }
}

[dir=rtl] .mi-modal .mi-modal__close {
    left: var(--icon-size);
    right: unset
}

.mi-modal .mi-modal__main {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    -webkit-hyphens: auto;
    hyphens: auto;
    max-height: 70vh;
    overflow: auto;
    padding: var(--content-padding);
    white-space: pre-line;
    width: 100%;
    word-break: break-word
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__main {
        margin:20px auto
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__main {
        margin:24px auto
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__main {
        margin:24px auto
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__main {
        margin:24px auto
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__main {
        margin:24px auto
    }
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__main:first-child {
        margin-top:30px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__main:first-child {
        margin-top:32px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__main:first-child {
        margin-top:40px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__main:first-child {
        margin-top:40px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__main:first-child {
        margin-top:40px
    }
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__main:last-child {
        margin-bottom:30px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__main:last-child {
        margin-bottom:32px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__main:last-child {
        margin-bottom:40px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__main:last-child {
        margin-bottom:40px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__main:last-child {
        margin-bottom:40px
    }
}

.mi-modal .mi-modal__footer {
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    padding: var(--content-padding);
    width: 100%
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__footer {
        margin:20px auto 24px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__footer {
        margin:24px auto 32px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__footer {
        margin:32px auto 40px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__footer {
        margin:32px auto 40px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__footer {
        margin:32px auto 40px
    }
}

.mi-modal .mi-modal__button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1 1;
    flex-basis: auto;
    justify-content: center;
    margin: 0 8px;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap
}

.mi-modal .mi-modal__button:first-child {
    margin-inline-start:0}

.mi-modal .mi-modal__button:last-child {
    margin-inline-end:0}

.mi-modal .mi-modal__header:not(:empty)+.mi-modal__main,.mi-modal .mi-modal__main+.mi-modal__footer {
    margin-top: 0
}

@media screen and (max-width: 720px) {
    .mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer {
        margin-top:10px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer {
        margin-top:12px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer {
        margin-top:16px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer {
        margin-top:16px
    }
}

@media screen and (min-width: 1921px) {
    .mi-modal .mi-modal__header:not(:empty)+.mi-modal__footer {
        margin-top:16px
    }
}

@media screen and (max-width: 720px) {
    .mi-modal.mi-modal--bottom .ReactModal__Content {
        opacity:1;
        transform: translateY(100%)
    }

    .mi-modal.mi-modal--bottom .ReactModal__Content--after-open.mi-modal__content {
        opacity: 1;
        transform: translateY(0)
    }

    .mi-modal.mi-modal--bottom .ReactModal__Content--before-close.mi-modal__content {
        opacity: 1;
        transform: translateY(100%)
    }

    .mi-modal.mi-modal--bottom .mi-modal__content {
        border-radius: 0;
        bottom: 0;
        left: 0;
        max-height: 80vh;
        max-width: 100%;
        right: 0;
        top: unset;
        width: 100%
    }
}

.mi-modal.mi-modal--dialog .mi-modal__content {
    box-shadow: 0 6px 12px 0 #19191914
}

.mi-count-down {
    --icon-background: #191919;
    --icon-text-color: #fff;
    direction: ltr
}

@media screen and (max-width: 720px) {
    .mi-count-down {
        --icon-size:22px;
        --font-size: 12px;
        --colon-margin: 5px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-count-down {
        --icon-size:22px;
        --font-size: 12px;
        --colon-margin: 5px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-count-down {
        --icon-size:2.22222vw;
        --font-size: 1.38889vw;
        --colon-margin: .41667vw
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-count-down {
        --icon-size:2.08333vw;
        --font-size: 1.25vw;
        --colon-margin: .41667vw
    }
}

@media screen and (min-width: 1921px) {
    .mi-count-down {
        --icon-size:40px;
        --font-size: 24px;
        --colon-margin: 8px
    }
}

.mi-count-down--text {
    display: inline-block
}

.mi-count-down--icon {
    align-items: center;
    display: inline-flex;
    justify-content: center
}

.mi-count-down--icon .mi-count-down__time {
    background-color: var(--icon-background);
    -webkit-clip-path: url(#svgClipPath);
    clip-path: url(#svgClipPath);
    color: var(--icon-text-color);
    width: var(--icon-size)
}

.mi-count-down--icon .mi-count-down__colon,.mi-count-down--icon .mi-count-down__time {
    align-items: center;
    display: inline-flex;
    font-size: var(--font-size);
    height: var(--icon-size);
    justify-content: center
}

.mi-count-down--icon .mi-count-down__colon {
    color: var(--icon-background);
    font-weight: 700;
    opacity: .6;
    padding: 0 var(--colon-margin)
}

:root {
    --skeleton-color: #eee;
    --brand-orange: #ff6900;
    --brand-orange-90: #ff7819;
    --brand-orange-80: #ff8733;
    --brand-orange-70: #ff964c;
    --brand-orange-60: #ffa566;
    --brand-orange-50: #ffb47f;
    --brand-orange-40: #ffc399;
    --brand-orange-30: #ffd2b2;
    --brand-orange-20: #ffe1cc;
    --brand-orange-10: #fff0e5;
    --brand-grey: #898989;
    --brand-grey-90: #949494;
    --brand-grey-80: #a1a1a1;
    --brand-grey-70: #acacac;
    --brand-grey-60: #b8b8b8;
    --brand-grey-50: #c4c4c4;
    --brand-grey-40: #d0d0d0;
    --brand-grey-30: #dbdbdb;
    --brand-grey-20: #e7e7e7;
    --brand-grey-10: #f3f3f3;
    --brand-black: #191919;
    --brand-black-90: #303030;
    --brand-black-80: #474747;
    --brand-black-70: #5e5e5e;
    --brand-black-60: #757575;
    --brand-black-50: #8c8c8c;
    --brand-black-40: #a3a3a3;
    --brand-black-30: #dbdbdb;
    --brand-black-20: #d1d1d1;
    --brand-black-10: #e8e8e8;
    --brand-reverse: #fff;
    --text-base: #191919;
    --text-reverse: #fff;
    --text-primary: #ff6900;
    --text-secondary: #898989;
    --text-black: #333;
    --text-error: #ff4e4e;
    --background-base: #f7f7f7;
    --background-white: #fff;
    --background-grey: #dbdbdb;
    --background-black: #191919;
    --background-primary: #ff6900;
    --background-primary-light: #fff0e6;
    --background-disable: #ddd;
    --background-loader: #ff6900;
    --border-base: #898989;
    --border-footer: #2e2e2e;
    --border-input: #b0b0b0;
    --border-primary: #ff6900;
    --border-secondary: #191919;
    --shadow-black-a2: #00000005;
    --shadow-black-a5: #0000000d;
    --shadow-black-a7: #00000012;
    --shadow-black-a8: #00000014;
    --shadow-black-a10: #0000001a;
    --shadow-black-a15: #00000026;
    --shadow-black-a20: #0003;
    --shadow-black-a30: #0000004d;
    --shadow-black-a40: #0006;
    --shadow-black-a50: #00000080;
    --shadow-black-a60: #0009;
    --shadow-white-a10: #ffffe11a;
    --shadow-white-a20: #ffffe133;
    --shadow-white-a30: #ffffe14d;
    --shadow-white-a50: #ffffe180;
    --shadow-white-a80: #ffffe1cc;
    --shadow-white-a90: #ffffe1e6;
    --shadow-primary-a10: #ff69001a;
    --shadow-primary-a20: #ff690033;
    --shadow-primary-a30: #ff69004d;
    --shadow-primary-a40: #ff690066;
    --shadow-primary-a50: #ff690080
}

.mi-energy-label {
    --column-repeat-count: 1;
    --column-track-size: 1fr;
    --item-gap: 10px;
    --grid-row-gap: var(--item-gap);
    --grid-column-gap: 0;
    --group-justify-items: start;
    --group-align-items: center;
    --group-margin-top: 0;
    --group-margin-bottom: 0;
    --label-flex-direction: row;
    --label-justify-content: flex-start;
    --label-align-items: center;
    --info-margin-bottom: var(--item-gap);
    --text-light: var(--text-base);
    --text-dark: var(--text-reverse);
    --info-text-align: start;
    align-items: var(--group-align-items);
    column-gap: var(--grid-column-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-repeat-count),var(--column-track-size));
    justify-items: var(--group-justify-items);
    margin-bottom: var(--group-margin-bottom);
    margin-top: var(--group-margin-top);
    row-gap: var(--grid-row-gap)
}

@media screen and (max-width: 720px) {
    .mi-energy-label {
        --image-width:34px;
        --info-margin-left: 12px;
        --link-font-size: 12px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-energy-label {
        --image-width:26px;
        --info-margin-left: 14px;
        --link-font-size: 14px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-energy-label {
        --image-width:32px;
        --info-margin-left: 14px;
        --link-font-size: 16px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-energy-label {
        --image-width:42px;
        --info-margin-left: 16px;
        --link-font-size: 16px
    }
}

@media screen and (min-width: 1921px) {
    .mi-energy-label {
        --image-width:54px;
        --info-margin-left: 16px;
        --link-font-size: 16px
    }
}

.mi-energy-label.mi-energy-label--light {
    color: var(--text-light)
}

.mi-energy-label.mi-energy-label--dark {
    color: var(--text-dark)
}

.mi-energy-label.mi-energy-label--row {
    --column-repeat-count: auto-fill;
    --column-track-size: 200px;
    --grid-column-gap: var(--item-gap)
}

@media screen and (max-width: 720px) {
    .mi-energy-label.mi-energy-label--zoom {
        --image-width:9.44444vw;
        --info-margin-left: 3.33333vw
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-energy-label.mi-energy-label--zoom {
        --image-width:3.125vw;
        --info-margin-left: 1.36719vw
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-energy-label.mi-energy-label--zoom {
        --image-width:2.22222vw;
        --info-margin-left: .97222vw
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-energy-label.mi-energy-label--zoom {
        --image-width:2.1875vw;
        --info-margin-left: .83333vw
    }
}

@media screen and (min-width: 1921px) {
    .mi-energy-label.mi-energy-label--zoom {
        --image-width:54px;
        --info-margin-left: 16px
    }
}

@media screen and (max-width: 720px) {
    .mi-energy-label.mi-energy-label--zoom .mi-energy-label__link {
        font-size:3.33333vw;
        font-size: max(3.33333vw,12px)
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-energy-label.mi-energy-label--zoom .mi-energy-label__link {
        font-size:max(1.36719vw,12px)
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-energy-label.mi-energy-label--zoom .mi-energy-label__link {
        font-size:max(1.11111vw,12px)
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-energy-label.mi-energy-label--zoom .mi-energy-label__link {
        font-size:max(.83333vw,12px)
    }
}

@media screen and (min-width: 1921px) {
    .mi-energy-label.mi-energy-label--zoom .mi-energy-label__link {
        font-size:16px
    }
}

.mi-energy-label .mi-energy-label__item {
    align-items: var(--label-align-items);
    display: flex;
    flex-direction: var(--label-flex-direction);
    justify-content: var(--label-justify-content);
    width: -moz-fit-content;
    width: fit-content
}

.mi-energy-label .mi-energy-label__item.mi-energy-label__item--column {
    --label-flex-direction: column-reverse
}

.mi-energy-label .mi-energy-label__item.mi-energy-label__item--column .mi-energy-label__link.mi-energy-label__link--info {
    margin-bottom: var(--info-margin-bottom);
    margin-inline-start:0;margin-top: var(--info-margin-top)
}

.mi-energy-label .mi-energy-label__image {
    cursor: default;
    width: var(--image-width)
}

.mi-energy-label .mi-energy-label__link {
    cursor: pointer;
    font-size: var(--link-font-size);
    text-decoration: underline;
    width: -moz-fit-content;
    width: fit-content
}

.mi-energy-label .mi-energy-label__link.mi-energy-label__link--image {
    line-height: 0
}

.mi-energy-label .mi-energy-label__link.mi-energy-label__link--image .mi-energy-label__image {
    cursor: pointer
}

.mi-energy-label .mi-energy-label__link.mi-energy-label__link--info {
    margin-inline-start:var(--info-margin-left);text-align: var(--info-text-align)
}

.mi-tag {
    background: #f7f7f7;
    background: var(--background-base);
    border: 1px solid #898989;
    border: 1px solid var(--border-base);
    box-sizing: border-box;
    cursor: default;
    display: inline-flex;
    line-height: 0;
    margin: var(--margin-base);
    opacity: 1;
    white-space: nowrap
}

@media screen and (max-width: 720px) {
    .mi-tag {
        --margin-base:0 1.11111vw;
        border-radius: .83333vw;
        font-size: 2.77778vw;
        font-size: max(2.77778vw,12px);
        height: 3.88889vw;
        line-height: 3.88889vw;
        padding: 0 .83333vw
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-tag {
        --margin-base:0 .78125vw;
        border-radius: .39062vw;
        font-size: max(1.36719vw,12px);
        height: 2.34375vw;
        line-height: 2.34375vw;
        padding: 0 .39062vw
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-tag {
        --margin-base:0 .27778vw;
        border-radius: .27778vw;
        font-size: max(.83333vw,12px);
        height: 1.52778vw;
        line-height: 1.52778vw;
        padding: 0 .55556vw
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-tag {
        --margin-base:0 .46875vw;
        border-radius: .3125vw;
        font-size: max(.70312vw,12px);
        height: 1.25vw;
        line-height: 1.25vw;
        padding: 0 .625vw
    }
}

@media screen and (min-width: 1921px) {
    .mi-tag {
        --margin-base:0 12px;
        border-radius: 8px;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        padding: 0 8px
    }
}

@media screen and (max-width: 720px) {
    [dir=ltr] .mi-tag:first-child {
        margin-left:0
    }

    [dir=rtl] .mi-tag:first-child {
        margin-right: 0
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    [dir=ltr] .mi-tag:first-child {
        margin-left:0
    }

    [dir=rtl] .mi-tag:first-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    [dir=ltr] .mi-tag:first-child {
        margin-left:0
    }

    [dir=rtl] .mi-tag:first-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    [dir=ltr] .mi-tag:first-child {
        margin-left:0
    }

    [dir=rtl] .mi-tag:first-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1921px) {
    [dir=ltr] .mi-tag:first-child {
        margin-left:0
    }

    [dir=rtl] .mi-tag:first-child {
        margin-right: 0
    }
}

@media screen and (max-width: 720px) {
    [dir=rtl] .mi-tag:last-child {
        margin-left:0
    }

    [dir=ltr] .mi-tag:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    [dir=rtl] .mi-tag:last-child {
        margin-left:0
    }

    [dir=ltr] .mi-tag:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    [dir=rtl] .mi-tag:last-child {
        margin-left:0
    }

    [dir=ltr] .mi-tag:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    [dir=rtl] .mi-tag:last-child {
        margin-left:0
    }

    [dir=ltr] .mi-tag:last-child {
        margin-right: 0
    }
}

@media screen and (min-width: 1921px) {
    [dir=rtl] .mi-tag:last-child {
        margin-left:0
    }

    [dir=ltr] .mi-tag:last-child {
        margin-right: 0
    }
}

.mi-tag__text--ellipsis {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: box;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word
}

.mi-tag--has-color {
    border-color: #0000;
    color: #fff
}

.mi-tag--orange {
    background-color: #ff69001a;
    border: 1px solid #ff6900;
    border: 1px solid var(--border-primary);
    color: #ff6900;
    color: var(--border-primary)
}

.mi-tag--green {
    background-color: #50c0501a;
    border: 1px solid #50c050;
    color: #50c050
}

.mi-tag--grey {
    background: #f4f4f4;
    border: 1px solid #dedede;
    color: #898989;
    color: var(--text-secondary)
}

.mi-tag--hidden {
    display: none
}

.mi-tag i {
    margin-right: 6px
}

@media screen and (max-width: 720px) {
    .mi-tag i {
        font-size:2.77778vw;
        font-size: max(2.77778vw,12px)
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-tag i {
        font-size:max(1.36719vw,12px)
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-tag i {
        font-size:max(.83333vw,12px)
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-tag i {
        font-size:max(.70312vw,12px)
    }
}

@media screen and (min-width: 1921px) {
    .mi-tag i {
        font-size:18px
    }
}

@media screen and (max-width: 720px) {
    .mi-tabs {
        font-size:3.33333vw;
        font-size: max(3.33333vw,12px)
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-tabs {
        font-size:max(1.5625vw,12px)
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-tabs {
        font-size:max(.78125vw,12px)
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-tabs {
        font-size:max(.78125vw,12px)
    }
}

@media screen and (min-width: 1921px) {
    .mi-tabs {
        font-size:15px
    }
}

.mi-tabs .mi-tabs__header {
    display: flex
}

.mi-tabs .mi-tabs__item {
    cursor: pointer
}

@media screen and (max-width: 720px) {
    .mi-tabs .mi-tabs__item {
        padding:0 40px
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-tabs .mi-tabs__item {
        padding:0 20px
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-tabs .mi-tabs__item {
        padding:0 28px
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-tabs .mi-tabs__item {
        padding:0 37px
    }
}

@media screen and (min-width: 1921px) {
    .mi-tabs .mi-tabs__item {
        padding:0 50px
    }
}

.mi-tabs .mi-tabs__item-separator {
    border-right: 1px solid #e7e7e7;
    border-right: 1px solid var(--brand-grey-20);
    cursor: pointer
}

@media screen and (max-width: 720px) {
    .mi-tabs .mi-tabs__item-separator {
        margin-bottom:4.44444vw;
        padding: 0 5.55556vw
    }
}

@media screen and (min-width: 721px) and (max-width:1024px) {
    .mi-tabs .mi-tabs__item-separator {
        margin-bottom:2.34375vw;
        padding: 0 2.34375vw
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px) {
    .mi-tabs .mi-tabs__item-separator {
        margin-bottom:1.5625vw;
        padding: 0 1.25vw
    }
}

@media screen and (min-width: 1441px) and (max-width:1920px) {
    .mi-tabs .mi-tabs__item-separator {
        margin-bottom:1.5625vw;
        padding: 0 1.25vw
    }
}

@media screen and (min-width: 1921px) {
    .mi-tabs .mi-tabs__item-separator {
        margin-bottom:30px;
        padding: 0 24px
    }
}

.mi-tabs .mi-tabs__item-separator:first-child,.mi-tabs .mi-tabs__item:first-child {
    padding-left: 0
}

.mi-tabs .mi-tabs__item-separator:last-child {
    border-right: none
}

.mi-tabs .mi-tabs--active {
    color: #ff6900;
    color: var(--text-primary)
}

.mi-tabs .mi-tabs-pane__item {
    display: none
}

.mi-tabs .mi-tabs-pane--active {
    display: block
}

body.mi-google-captcha__body--overflow-hidden {
    height: 100%;
    overflow: hidden
}

.google-captcha {
    align-items: center;
    background-color: #0000005c;
    bottom: 0;
    display: none;
    justify-content: center;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s linear;
    z-index: 90
}

.google-captcha.google-captcha--show {
    display: flex
}

.banner-text__info {
    position: relative;
    background-image: url(/Content/BlackFriday/img/khung-deal.png);
    width: 100%;
    z-index: 1;
    /* margin: auto auto 16px; */
    background-size: 100% 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.footer-zalo ,.footer-stick-right{
    z-index: 5;
}