@font-face {
    font-family: "OPPO Sans 3.0 230625";
    src: url('path-to-font/OPPOSans-3.0-230625.woff') format('woff');
}

main {
    font-family: "OPPO Sans 3.0 230625", sans-serif;
    /* Font sau dấu phẩy là một font thay thế trong trường hợp font chính không được tải thành công */
}

.main-content {
    /* background: linear-gradient(180deg, #FBFBFB 19.87%, #F8F8F8 100%); */
    /* background-image: url("img-background/Background.png"); */
    background: var(--n-3-white, #FFF);
}

.background-div {
    background: #020304;
}

.background-banner {
    background: #000;
}

.background-banner-Flip {
    background: #FFF;
}

.background-div-Flip {
    background: var(--n-3-white, #FFF);
}


h1 {
    font-family: "OPPO Sans 3.0 230625", sans-serif;
}

.resetfont {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "OPPO Sans 3.0 230625", sans-serif;
}

.feature-one {
    display: flex;
    width: 100%;
    justify-content: center;
}

.hero-banner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    /* flex-direction: column; */
    align-items: center;
    justify-content: right;
    gap: 8px;
    text-align: center;
    position: relative;
}


.hero-banner-logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* width: 100%; */
    top: 5px;
    /* bottom: 50%; */
    left: 0;
    /* transform: translateX(-126%); */
    z-index: 2;
}

.feature-one-banner {
    display: flex;
    width: 100%;
    max-width: 1000px;
}

.feature-banner-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* top: 0; */
    bottom: 37%;
    left: 50%;
    transform: translateX(-77%);
    z-index: 2;
}

.text-headline-n1 {
    color: #000;
    /* Display */
    font-family: OPPO Sans 3.0 230625;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.46px;
}

.text-headline-n2 {
    color: #000;
    font-family: OPPO Sans 3.0 230625;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: capitalize;
}

.feature-two {
    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #313135;
    background: #000;
}

.div-banner {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.btn-add {
    display: flex;
    padding: 7px 21px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.background-2CFF73 {
    background: #2CFF73;
}

.background-1D1D1F {
    background: #1D1D1F;
}

.text-btn-add {
    font-family: OPPO Sans 3.0 230625;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.039px;
    text-transform: capitalize;
}

.div-banner-item:hover, .div-banner-item.active {
    box-shadow: inset 0 -2px 0px #2CFF73;
    cursor: pointer;
}

.feature-title-h1-40px {
    color: var(--n-3-white, #FFF);
    font-family: OPPO Sans 3.0 230625;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.feature-title-h3-18px {
    /* Display-Sub */
    font-family: OPPO Sans 3.0 230625;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.background-gradient-gold {
    background: var(--gradient-gold, linear-gradient(90deg, #F0E1C7 0%, #8E8265 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.background-gradient-white-2 {
    background: var(--gradient-white-2, linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.40) 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-title-p-18px {
    color: #ABB0BE;
    /* Body */
    font-family: OPPO Sans 3.0 230625;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

.text-banner {
    color: #FFF;
    font-family: OPPO Sans 3.0 230625;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-transform: capitalize;
}


.feature-three img {
    width: 100%;
    height: 100%;
    max-width: 528px;
    max-height: 510px;
    flex-shrink: 0;
}

.letter-spacing-024- {
    letter-spacing: -0.24px;
}

.letter-spacing-096- {
    letter-spacing: 0.96px;
}

.letter-spacing-039 {
    letter-spacing: 0.039px;
}

.letter-spacing-009 {
    letter-spacing: 0.09px;
}

.letter-spacing-004- {
    letter-spacing: -0.4px;
}

.letter-spacing-024- {
    letter-spacing: -0.24px;
}

.letter-spacing-032- {
    letter-spacing: -0.32px;
}

.letter-spacing-072 {
    letter-spacing: 0.72px;
}

.max-w-1200px {
    max-width: 1200px;
}

.max-w-387px {
    max-width: 387px;
}

.max-w-500px {
    max-width: 500px;
}

.max-w-282px {
    max-width: 282px;
}

.max-w-791px {
    max-width: 791px;
}

.max-w-224px {
    max-width: 224px;
}

.feature-four-detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.feature-four-text {
    left: 60%;
    bottom: 35%;
}

.feature-five-detail img {
    width: 100%;
    max-width: 1167px;
}

.feature-five-text {
    right: 55%;
    bottom: 20%;
}

.feature-six-detail img {
    width: 100%;
    max-width: 641px;
}

.btn-cart {
    width: 100%;
    max-width: 540px;
    /* height: 100%; */
    text-align: center;
    margin: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

    .btn-cart a {
        width: 50%;
        padding: 0.5rem 1rem;
        font-size: 1.15625rem;
        border-radius: 0.6rem;
        background: transparent linear-gradient(180deg,#ff990e 0%,#ff6801 100%) 0% 0% no-repeat padding-box;
        /*                    background: var(--green-green-1, #009981);*/
        color: var(--white-white-1, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        /* H7/Semibold (13) */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        box-shadow: 0 4px 6px #00000029;
        border-radius: 5px;
        border: none;
    }

        .btn-cart a:hover {
            background: transparent linear-gradient(0deg,#ff990e 0%,#ff6801 100%) 0% 0% no-repeat padding-box;
        }
