@{
    ViewBag.Title = "Tết Hoàng Hà - Sale bao giá tới 70% - Săn quà tổng giá trị hơn 240 Triệu";
    Layout = "~/Views/Shared/_Layout_Desktop.cshtml";
}

@section meta {
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="description"
        content="Từ 10.01 đến Hoàng Hà Mobile quý khách có cơ hội tham gia vòng quay săn 1 lượng Rồng Vàng với đơn hàng từ 999k.">
    <meta property="og:image" content="https://hoanghamobile.com/Content/tetOngTao/img/thumb.jpg">
    <meta property="og:url" content="https://hoanghamobile.com/tet-hoang-ha-sale-bao-gia">
    <link rel="stylesheet" href="~/Content/tetOngTao/js-css/swiper-bundle.min.css" />
    <script src="https://hoanghamobile.com/Content/web/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/Content/tetOngTao/css/bootstrap.min.css?@DateTime.Now">
    <link rel="stylesheet" href="~/Content/tetOngTao/js-css/style.css?@DateTime.Now">
    <link rel="stylesheet" href="~/Content/tetOngTao/js-css/tet2024.css?@DateTime.Now">
    <link rel="stylesheet" href="~/Content/tetOngTao/js-css/index.css?@DateTime.Now">

    <style>
        .d-none-important {
            display: none !important;
        }

        .d-block-important {
            display: block !important;
        }

        .sanpham_sale {
            position: absolute;
            top: 200px;
            left: 5px;
            background: #ff6801;
            border-radius: 40px;
            width: 75%;
            /* padding: 0; */
            padding: 5px 5px;
            margin: 0;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            /* height: 17px; */
            text-align: center;
            z-index: 2;
            display: none;
        }

        .note p {
            font-size: max(0.8375vw, 12px);
            margin-top: 0.3125vw;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: white;
            display: box;
            /* display: -webkit-box; */
            font-weight: 400;
            line-height: 1.25;
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: inherit;
            word-break: break-word;
        }

        canvas {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            /* background-color: #f0f0f0; */

            z-index: 2;
        }

        .swiper-button-next,
        .swiper-button-prev {
            align-items: center;
            color: var(--swiper-navigation-color, var(--swiper-theme-color));
            cursor: pointer;
            display: flex;
            height: var(--swiper-navigation-size);
            justify-content: center;
            margin-top: calc(0px - var(--swiper-navigation-size)/2);
            position: absolute;
            top: 50%;
            width: calc(var(--swiper-navigation-size)/44*27);
            z-index: 10;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--swiper-navigation-color, var(--swiper-theme-color));
            width: 50px;
            height: 50px;
            background: #cbd1d6;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>


    <script type="text/javascript">
        $(document).ready(function () {
            $.post('/Ajax/Price', { "id": "3725,3911" }, function (data) {
                $(data).each(function (index, value) {
                    var priceContainer = $('#idsanpham_' + value.ID);
                    if (priceContainer.length > 0) {
                        var formattedPrice = parseFloat(value.BestPrice).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                        if (!isNaN(value.BestPrice) && value.BestPrice !== null && value.BestPrice !== undefined && value.BestPrice !== "") {
                            priceContainer.html('<li class="title-price formatted-number resetfont">' + formattedPrice + '</li>');
                        } else {
                            priceContainer.html('');
                        }
                    }

                    var priceLastPrice = $('#idsanpham_LastPrice_' + value.ID);
                    if (priceLastPrice.length > 0) {
                        var lastPrice = parseFloat(value.LastPrice);
                        var formattedLastPrice = isNaN(lastPrice) || !lastPrice ? 0 : lastPrice.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
                        if (!isNaN(value.LastPrice) && value.LastPrice !== null && value.LastPrice !== undefined && value.LastPrice !== "") {
                            priceLastPrice.html('<li class="title-price formatted-number">' + formattedLastPrice + '</li>');
                        } else {
                            priceLastPrice.html('');
                        }
                    }


                    var Image_ck = $('#idsanpham_Image_' + value.ID);
                    if (Image_ck.length > 0) {
                        var arrayImages = JSON.parse(value.Image);
                        var imageUrl = '/i/productlist/ts' + arrayImages[0].Url
                        Image_ck.attr('src', imageUrl);
                    }

                    var title_ck = $('#idsanpham_title_' + value.ID);
                    if (title_ck.length > 0) {
                        var title = value.Title;
                        var TitleString = title.replace('- Chính hãng', '');
                        title_ck.html(TitleString);
                    }

                    var href_ck = $('#idsanpham_href_' + value.ID);
                    if (href_ck.length > 0) {
                        var hrefUrl = value.UID + '?buy=1'; // Corrected variable name to hrefUrl for URL construction
                        href_ck.attr('href', hrefUrl);
                    }

                    var href_ck2 = $('#idsanpham_href2_' + value.ID);
                    if (href_ck2.length > 0) {
                        var href2 = value.UID + '?buy=1';
                        href_ck2.attr('href', href2);
                    }
                });
            });
        });

    </script>
}

<main class="main-content site-main gap-10px position-relative section-fill-info">

    <div class="content-v1">
        <section class="feature-section feature-one max-w-1200px" role="grid">
            <div class="w-100">
                <picture>
                    <!-- Hình ảnh mặc định khi không có điều kiện nào được đáp ứng -->
                    <img class="Flip-feature-one-banner w-100 position-relative " style="background: white;"
                        src="~/Content/tetOngTao/img/heading-pc.png?@DateTime.Now" alt="text banner">
                </picture>
            </div>
        </section>
    </div>
    <nav class="ld-menu section__nav">
        <div class="container">
            <div class="inner">
                <div class="nav__list-wrap">
                    <div class="swiper swiper-nav swiper-container-initialized swiper-container-horizontal">
                        <ul class="nav__list swiper-wrapper">
                            <li class="nav__item swiper-slide swiper-slide-active" style="width: auto;">
                                <a class="nav__item-badge scroll" data-href="#Flip-section-SMARTPHONE">
                                    <span>SMARTHOME</span>
                                    <img src="/landing-tet-fptshop/Desktop/images/ic-nav-1.png?v=230120241400" alt="">
                                </a>
                            </li>
                            <li class="nav__item swiper-slide" style="width: auto;">
                                <a class="nav__item-badge scroll" data-href="#Flip-section-LOA-TAINGHE">
                                    <span>LOA- TAI NGHE</span>
                                </a>
                            </li>
                            <li class="nav__item swiper-slide swiper-slide-next" style="width: auto;">
                                <a class="nav__item-badge scroll" data-href="#Flip-section-SMARTWATCH">
                                    <span>SMARTWATCH</span>
                                </a>
                            </li>

                            <li class="nav__item swiper-slide" style="width: auto;">
                                <a class="nav__item-badge scroll" data-href="#Flip-section-LAPTOP-TABLET">
                                    <span>LAPTOP - TABLET - MÀN HÌNH</span>
                                </a>
                            </li>
                            <li class="nav__item swiper-slide" style="width: auto;">
                                <a class="nav__item-badge scroll" data-href="#Flip-section-PHU-KIEN">
                                    <span>PHỤ KIỆN</span>
                                </a>
                            </li>
                        </ul>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
                <div class="menu-call">
                    <a class="menu-btn btn-call" href="tel:19002091">
                        <i class="demo-icon ic-call"></i><span>Gọi 1900 2091</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="content-v1">
        <div class="swiper mySwiper w-100 ">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="d-flex-center w-100 gap-10px">
                        <a class="w-100" href="">
                            <picture>
                                <!-- Hình ảnh mặc định khi không có điều kiện nào được đáp ứng -->
                                <img class="Flip-feature-one-banner w-100"
                                    src="~/Content/tetOngTao/img/Desktop/TẾT ÔNG TÁO - BAO GIÁ APPLE_banner 1.png?@DateTime.Now"
                                    alt="hình ảnh banner">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex-center w-100 gap-10px">
                        <a class="w-100" href="">
                            <picture>
                                <!-- Hình ảnh mặc định khi không có điều kiện nào được đáp ứng -->
                                <img class="Flip-feature-one-banner w-100"
                                    src="~/Content/tetOngTao/img/Desktop/TẾT ÔNG TÁO - BAO GIÁ APPLE-03.png?@DateTime.Now"
                                    alt="hình ảnh banner">
                            </picture>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="d-flex-center w-100 gap-10px">
                        <a class="w-100" href="">
                            <picture>
                                <!-- Hình ảnh mặc định khi không có điều kiện nào được đáp ứng -->
                                <img class="Flip-feature-one-banner w-100"
                                    src="~/Content/tetOngTao/img/Desktop/TẾT ÔNG TÁO - BAO GIÁ APPLE_banner 3.png?@DateTime.Now"
                                    alt="hình ảnh banner">
                            </picture>
                        </a>
                    </div>
                </div>
            </div>
            @* <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> *@
            <button class="start_css swiper-button-prev" type="button" onclick="plusDivs_accessory(-1)" tabindex="0"
                aria-label="Previous slide" aria-controls="product-container-compare">
                <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                    fill="none">
                    <rect width="50" height="50" rx="25" fill="#cbd1d6"></rect>
                    <path d="M31 13L19 25L31 37" stroke="#EE3215" stroke-width="3"></path>
                </svg>
            </button>
            <button class="start_css swiper-button-next" type="button" onclick="plusDivs_accessory(1)" tabindex="0"
                aria-label="Next slide" aria-controls="product-container">
                <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                    fill="none">
                    <rect width="50" height="50" rx="25" fill="#cbd1d6"></rect>
                    <path d="M19 37L31 25L19 13" stroke="#EE3215" stroke-width="3"></path>
                </svg>

            </button>

            <div class="swiper-pagination"></div>
        </div>
    </div>
    @* smart phone *@
    <section class="max-w-1200px position-relative d-flex-center order-0" role="grid" id="Flip-section-SMARTPHONE">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img src="~/Content/tetOngTao/img/icon banner.png?@DateTime.Now" alt="Xiaomi Robot Vacuum E10"
                loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">SMARTPHONE</span>
            </div>
        </section>
    </section>


    <div class="max-w-1200px" style="padding: 12px;">
        <div class="site-grid site-grid--medium site-grid--half-quarter" id="html_holder_phone" role="grid">

        </div>

        <div id="loadMorephone" class="text-center" style="margin-top: 20px;">
            <button class="btn btn-primary">Xem thêm</button>
        </div>
    </div>


    @* Flip-section-LOA-TAINGHE *@

    <section class="max-w-1200px position-relative d-flex-center" role="grid" id="Flip-section-LOA-TAINGHE">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img src="~/Content/tetOngTao/img/icon banner.png?@DateTime.Now" alt="Xiaomi Robot Vacuum E10"
                loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">LOA- TAI NGHE</span>
            </div>
        </section>
    </section>

    <div class="max-w-1200px" style="padding: 12px;">
        <div class="site-grid site-grid--medium site-grid--half-quarter" id="html_holder_earphone_loa" role="grid">

        </div>

        <div id="loadMoreearphone_loa" class="text-center" style="margin-top: 20px;">
            <button class="btn btn-primary">Xem thêm</button>
        </div>
    </div>

    @* SMARTWATCH *@
    <section class="max-w-1200px position-relative d-flex-center" role="grid" id="Flip-section-SMARTWATCH">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img src="~/Content/tetOngTao/img/icon banner.png?@DateTime.Now" alt="Xiaomi Robot Vacuum E10"
                loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">SMARTWATCH</span>
            </div>
        </section>
    </section>

    <div class="max-w-1200px" style="padding: 12px;">
        <div class="site-grid site-grid--medium site-grid--half-quarter" id="html_holder_watch" role="grid">

        </div>

        <div id="loadMorewatch" class="text-center" style="margin-top: 20px;">
            <button class="btn btn-primary">Xem thêm</button>
        </div>
    </div>

    @* Flip-section-LAPTOP-TABLET *@
    <section class="max-w-1200px position-relative d-flex-center" role="grid" id="Flip-section-LAPTOP-TABLET">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img src="~/Content/tetOngTao/img/icon banner.png?@DateTime.Now" alt="Xiaomi Robot Vacuum E10"
                loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">LAPTOP - TABLET - MÀN HÌNH</span>
            </div>
        </section>
    </section>

    <div class="max-w-1200px" style="padding: 12px;">
        <div class="site-grid site-grid--medium site-grid--half-quarter" role="grid">
            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">
                    <a href="" class="" id="idsanpham_href_3694">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_3694"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_3694"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_3694" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_3694"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_3694"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_1297">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_1297"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end" style=" max-width: 100%;background: white;">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_1297"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_1297" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_1297"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_1297"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_3942">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_3942"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_3942"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_3942" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_3942"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_3942"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_2990">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_2990"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_2990"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_2990" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_2990"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_2990"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    @* Flip-section-PHU-KIEN *@
    <section class="max-w-1200px position-relative d-flex-center" role="grid" id="Flip-section-PHU-KIEN">
        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
            <img src="~/Content/tetOngTao/img/icon banner.png?@DateTime.Now" alt="Xiaomi Robot Vacuum E10"
                loading="lazy" />
        </picture>
        <section class="banner-text banner-text--full">
            <div class="banner-text__info">
                <span class="banner-text__title text-uppercase">PHỤ KIỆN</span>
            </div>
        </section>
    </section>

    <div class="max-w-1200px" style="padding: 12px;">
        <div class="site-grid site-grid--medium site-grid--half-quarter" role="grid">
            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">
                    <a href="" class="" id="idsanpham_href_3694">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_3694"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_3694"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_3694" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_3694"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_3694"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_1297">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_1297"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_1297"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_1297" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_1297"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_1297"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_3942">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_3942"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_3942"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_3942" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_3942"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_3942"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>

            <div class="product site-goods-sku site-goods-sku--half">
                <div class="site-goods-sku__image">

                    <a href="" class="" id="idsanpham_href_2990">
                        <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                            <img class="Flip-feature-one-banner " id="idsanpham_Image_2990"
                                src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2023/09/13/iphone-15-pro-max-natural-titanium-pure-back-iphone-15-pro-max-natural-titanium-pure-front-2up-screen-usen-1.png"
                                alt="hình ảnh banner">
                        </picture>

                    </a>
                </div>

                <div class="site-goods-sku__info justify-content-end">
                    <h4 class="site-goods-sku__subtitle" id="idsanpham_title_2990"></h4>
                    <div class="d-flex-center w-100 gap-10px">
                        <ul id="idsanpham_2990" class="site-goods-sku__title price-end"></ul>
                        <ul id="idsanpham_LastPrice_2990"
                            class="site-goods-sku__title text-decoration-line-through price-start"></ul>
                    </div>
                </div>
                <div class="product__btn site-goods-sku__actions">
                    <a href="" id="idsanpham_href2_2990"
                        class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                        <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>


@section scripts {

    <script type="text/javascript"
        src="https://hoanghamobile.com/Content/web/js/jquery-3.5.1.min.js?@DateTime.Now"></script>
    <script type="text/javascript" src="https://hoanghamobile.com/Content/template/jquery.tmpl.js?@DateTime.Now"></script>
    <!-- ... your existing HTML code ... -->
    <script id="itemTemplate_earphone" type="text/x-jquery-tmpl">
        <div class="product site-goods-sku site-goods-sku--half">
                    <div class="site-goods-sku__image">
                        <a href="${value.UID}" class="">
                            <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                                <img class="Flip-feature-one-banner " src="${imageUrl}" alt="${value.Title}" alt="hình ảnh banner">

                            </picture>

                        </a>
                    </div>

                    <div class="site-goods-sku__info justify-content-end">
                        <h4 class="site-goods-sku__subtitle">${value.Title}</h4>
                        <div class="d-flex-center w-100 gap-10px">
                            <ul  class="site-goods-sku__title price-end">${value.BestPrice}</ul>
                            <ul 
                                class="site-goods-sku__title text-decoration-line-through price-start">${value.LastPrice}</ul>
                        </div>
                    </div>
                    <div class="product__btn site-goods-sku__actions">
                        <a href="${value.UID}"
                            class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                            <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                        </a>
                    </div>
                </div>
    </script>

    <script id="itemTemplate_tivi" type="text/x-jquery-tmpl">
        <div class="product site-goods-sku site-goods-sku--half">
                    <div class="site-goods-sku__image">
                        <a href="${value.UID}" class="">
                            <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                                <img class="Flip-feature-one-banner " src="${imageUrl}" alt="${value.Title}" alt="hình ảnh banner">

                            </picture>

                        </a>
                    </div>

                    <div class="site-goods-sku__info justify-content-end">
                        <h4 class="site-goods-sku__subtitle">${value.Title}</h4>
                        <div class="d-flex-center w-100 gap-10px">
                            <ul  class="site-goods-sku__title price-end">${value.BestPrice}</ul>
                            <ul 
                                class="site-goods-sku__title text-decoration-line-through price-start">${value.LastPrice}</ul>
                        </div>
                    </div>
                    <div class="product__btn site-goods-sku__actions">
                        <a href="${value.UID}"
                            class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                            <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                        </a>
                    </div>
                </div>
    </script>

    <script id="itemTemplate_arphone_loa" type="text/x-jquery-tmpl">
        <div class="product site-goods-sku site-goods-sku--half">
                    <div class="site-goods-sku__image">
                        <a href="${value.UID}" class="">
                            <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                                <img class="Flip-feature-one-banner " src="${imageUrl}" alt="${value.Title}" alt="hình ảnh banner">

                            </picture>

                        </a>
                    </div>

                    <div class="site-goods-sku__info justify-content-end">
                        <h4 class="site-goods-sku__subtitle">${value.Title}</h4>
                        <div class="d-flex-center w-100 gap-10px">
                            <ul  class="site-goods-sku__title price-end">${value.BestPrice}</ul>
                            <ul 
                                class="site-goods-sku__title text-decoration-line-through price-start">${value.LastPrice}</ul>
                        </div>
                    </div>
                    <div class="product__btn site-goods-sku__actions">
                        <a href="${value.UID}"
                            class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                            <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                        </a>
                    </div>
                </div>
    </script>


    <script id="itemTemplate_watch" type="text/x-jquery-tmpl">
                <div class="product site-goods-sku site-goods-sku--half">
                    <div class="site-goods-sku__image">
                        <a href="${value.UID}" class="">
                            <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                                <img class="Flip-feature-one-banner " src="${imageUrl}" alt="${value.Title}" alt="hình ảnh banner">

                            </picture>

                        </a>
                    </div>

                    <div class="site-goods-sku__info justify-content-end">
                        <h4 class="site-goods-sku__subtitle">${value.Title}</h4>
                        <div class="d-flex-center w-100 gap-10px">
                            <ul  class="site-goods-sku__title price-end">${value.BestPrice}</ul>
                            <ul 
                                class="site-goods-sku__title text-decoration-line-through price-start">${value.LastPrice}</ul>
                        </div>
                    </div>
                    <div class="product__btn site-goods-sku__actions">
                        <a href="${value.UID}"
                            class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                            <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                        </a>
                    </div>
                </div>
    </script>

        <script id="itemTemplate_watch" type="text/x-jquery-tmpl">
                <div class="product site-goods-sku site-goods-sku--half">
                    <div class="site-goods-sku__image">
                        <a href="${value.UID}" class="">
                            <picture class="responsive-image site-goods-sku__picture position-relative z-index-2 ">
                                <img class="Flip-feature-one-banner " src="${imageUrl}" alt="${value.Title}" alt="hình ảnh banner">

                            </picture>

                        </a>
                    </div>

                    <div class="site-goods-sku__info justify-content-end">
                        <h4 class="site-goods-sku__subtitle">${value.Title}</h4>
                        <div class="d-flex-center w-100 gap-10px">
                            <ul  class="site-goods-sku__title price-end">${value.BestPrice}</ul>
                            <ul 
                                class="site-goods-sku__title text-decoration-line-through price-start">${value.LastPrice}</ul>
                        </div>
                    </div>
                    <div class="product__btn site-goods-sku__actions">
                        <a href="${value.UID}"
                            class="mi-btn mi-btn--primary-link mi-btn--normal mi-btn--light mi-btn--arrow-m site-goods-sku__link">
                            <span class="mi-btn__text">MUA NGAY</span><i class="micon micon-link-arrow"></i>
                        </a>
                    </div>
                </div>
    </script>
    <script>
        $(document).ready(function () {
            var ids = "3995,3376,3658,2892,2386,3990,3409,4026,3923,3513,3785,4061,2990,3942,2866,3694,3682,3670,3856,3410,3418,3844,3648,3373,3785,2994,1297,3270,3214,3853,1952,3349,1250,902,3901,4048,3667,4036,3872,1977,3804,3673,3481,1659,1658,1678,3211,3976,2801,3192,2833,3926,3984,606,2695,3271,3800,1723,3656,3685,2054,1231,3992,3993,3725,3911";
            var itemsPerPage = 5; // Số lượng mục hiển thị mỗi lần

            function loadData(type, offset) {
                $.ajax({
                    url: '/Ajax/Price',
                    method: 'POST',
                    dataType: 'json',
                    data: { "id": ids, "offset": offset, "limit": itemsPerPage, "type": type },
                    success: function (data) {
                        $(data).each(function (index, value) {
                            if (value.Type && (value.Type.Title === "Tai nghe" || value.Type.Title === "Loa" || value.Type.Title === "Tivi" || value.Type.Title === "Điện thoại" || value.Type.Title === "Đồng hồ thông minh" || value.Type.Title === "Laptop" || value.Type.Title === "Màn hình máy tính" || value.Type.Title === "table")) {
                                var templateId = '';

                                if (value.Type.Title === "Tai nghe" || value.Type.Title === "Loa") {
                                    templateId = 'earphone_loa';
                                } else if (value.Type.Title === "Tivi") {
                                    templateId = 'tivi';
                                } else if (value.Type.Title === "Điện thoại") {
                                    templateId = 'phone';
                                } else if (value.Type.Title === "Đồng hồ thông minh") {
                                    templateId = 'watch';
                                } else if (value.Type.Title === "Laptop" || value.Type.Title === "Màn hình máy tính" || value.Type.Title === "table") {
                                    templateId = 'lap_screen_table';
                                }

                                var arrayImages = JSON.parse(value.Image);
                                var imageUrl = '/i/productlist/ts' + arrayImages[0].Url;

                                $("#itemTemplate_" + templateId + " .product-image").attr('src', imageUrl);
                                $("#itemTemplate_" + templateId).tmpl({ value: value, imageUrl: imageUrl }).appendTo("#html_holder_" + templateId);
                            }
                        });
                    },
                    error: function (error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }

            // Load initial data
            loadData("Tai nghe", 0);
            loadData("Tivi", 0);
            loadData("Điện thoại", 0);
            loadData("Đồng hồ thông minh", 0);

            // Xử lý sự kiện click nút "Xem thêm"
            var offsetEarphone = 1; // Bắt đầu từ trang thứ 2
            var offsetTivi = 1;
            var offsetPhone = 1;
            var offsetWatch = 1;

            $("#loadMoreEarphone button").on("click", function () {
                loadData("Tai nghe", offsetEarphone * itemsPerPage);
                offsetEarphone++;
            });

            $("#loadMoreTivi button").on("click", function () {
                loadData("Tivi", offsetTivi * itemsPerPage);
                offsetTivi++;
            });

            $("#loadMorePhone button").on("click", function () {
                loadData("Điện thoại", offsetPhone * itemsPerPage);
                offsetPhone++;
            });

            $("#loadMoreWatch button").on("click", function () {
                loadData("Đồng hồ thông minh", offsetWatch * itemsPerPage);
                offsetWatch++;
            });
        });
    </script>
    <script src="~/Content/tetOngTao/js-css/Scroll.js?@DateTime.Now"></script>
    <!-- Swiper JS -->
    <script src="~/Content/tetOngTao/js/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            zoom: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            }
       });


    </script>
}
