@{
    ViewBag.Title = "HONOR 90 | 90 Lite Chuẩn Mực Ghi Nét";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}

@section meta {
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-P5BKLRL6W9&amp;l=dataLayer&amp;cx=c"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-PRNPXWBW&amp;eventValue=C.UTF-8"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-W7CLVZ4&amp;eventValue=C.UTF-8"></script>

    <meta data-n-head="ssr" name="viewport"
        content="initial-scale=1, width=device-width, user-scalable=no, shrink-to-fit=no, maximum-scale=1.0">
    <link data-n-head="ssr" rel="icon" type="image/x-icon" href="https://vn.infinixmobility.com//favicon.ico">
    <link data-n-head="ssr" rel="stylesheet"
        href="https://vn.infinixmobility.com/fileadmin/assets/styles/overview.built.css">
    <link data-n-head="ssr" rel="stylesheet"
        href="https://vn.infinixmobility.com/typo3conf/ext/ke_search/Resources/Public/Css/ke_search_pi1.css">

    <link rel="stylesheet" href="~/Content/hot-40i/css/swiper-bundle.min.css?@DateTime.Now" />
    <link href="~/Content/hot-40i/js-css/web_Mobile.css?@DateTime.Now" type="text/css" rel="stylesheet" />
    <link href="~/Content/hot-40i/js-css/animtation.css?@DateTime.Now" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/hot-40i/css/bootstrap.min.css?@DateTime.Now">
    <link rel="stylesheet" href="https://hoanghamobile.com/Content/SamsungDL/js-css/web_Desktop_v1.css?@DateTime.Now">

    <style>
        .Flip-feature-item.active {
            margin-bottom: -60px;
            width: 100%;
            position: relative;
            box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.4), -5px -5px 5px -5px rgba(0, 0, 0, 0.4);
        }
    </style>
}



<main class="main-content-v1">

    <section class="w-100 max-w-640px">
        <img src="~/Content/hot-40i/img/landing-mb.jpg?@DateTime.Now" class="w-100" alt="">
    </section>

    <section class="flex-column-center w-100 gap-20px  " style="padding-bottom: 2px;    padding-top: 20px;">
        <h1 class="banner-text__title text-uppercase resetfont">Sở hữu ngay</h1>
        <div class="site-grid site-grid--medium w-100">
            <div class="site-goods-sku position-relative w-100 Flip-feature-item active" id="div-hot40">
                <div class=" banner-text__info gap-10px ">
                    <h1 class="banner-text__title ">Infinix HOT 40i</h1>
                    <h1 class="banner-text__title d-none" id="idsanpham_title_3942">Infinix HOT 40i</h1>
                    <img class="Flip-feature-one-banner "
                        src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2024/01/30/infinix-hot-40i.png?@DateTime.Now"
                        style=" width: 60%;" id="idsanpham_Image_3942" src="" alt="hình ảnh banner">
                </div>
                <div class=" banner-text__info gap-10px product-action">
                    <ul id="idsanpham_3942" class="site-goods-sku__title price-end">

                    </ul>
                    @* <h1 class="title-button resetfont">Giá chỉ :4.490.000 đ</h1> *@
                    <a href="https://hoanghamobile.com/dien-thoai/infinix-hot-40i-4gb-128gb-chinh-hang?buy=1"
                        class=" btn-red mi-btn mi-btn--primary-link">
                        <span class="mi-btn__text">MUA NGAY</span>
                    </a>
                </div>
            </div>

            <div class="site-goods-sku position-relative w-100 Flip-feature-item" id="div-hot40-pro">
                <div class=" banner-text__info gap-10px ">
                    <h1 class="banner-text__title ">Infinix HOT 40 PRO</h1>
                    <img class="Flip-feature-one-banner "
                        src="https://cdn.hoanghamobile.com/i/productlist/ts/Uploads/2024/01/30/infinix-hot-40-pro.png?@DateTime.Now"
                        style=" width: 60%;" id="idsanpham_Image_3943" src="" alt="hình ảnh banner">
                </div>
                <div class=" banner-text__info gap-10px product-action">
                    <ul id="idsanpham_3943" class="site-goods-sku__title price-end">

                    </ul>
                    @* <h1 class="title-button resetfont">Giá chỉ :5.590.000 đ</h1> *@
                    <a href="https://hoanghamobile.com/dien-thoai/infinix-hot-40-pro-8gb-256gb-chinh-hang?buy=1"
                        class="btn-red mi-btn mi-btn--primary-link">
                        <span class="mi-btn__text">MUA NGAY</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="flex-column-center max-w-640px item-40i" id="hidden-hot40">
        <div id="__nuxt" class="w-100" style="opacity: 1;">
            <!---->
            <div id="__layout">
                <div data-v-3d278420="" fragment="d975837c72" class="main-content">
                    <section data-v-3d278420="" class="section section-2">
                        <div data-v-3d278420="" class="container">
                            <div data-v-3d278420="" class="grid">
                                <div data-v-3d278420="" class="item item-1">
                                    <div data-v-3d278420="" class="title">Magic Ring</div>
                                    <div data-v-3d278420="" class="frame-top content-pc"></div>
                                    <div data-v-3d278420="" class="frame-bottom content-pc"></div>
                                </div>
                                <div data-v-3d278420="" class="item item-2">
                                    <img data-v-3d278420=""
                                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec2/bg-processor.webp"
                                        class="bg content-pc"> <img data-v-3d278420=""
                                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec2/bg-processor.webp"
                                        class="bg content-mb">
                                    <div data-v-3d278420="" class="text-wrapper">
                                        <div data-v-3d278420="" class="title">
                                            Chip Lõi tám
                                        </div>
                                        <div data-v-3d278420="" class="subtitle">
                                            với Công nghệ gaming XBOOST
                                        </div>
                                    </div>
                                    <div data-v-3d278420="" class="frame-top content-pc"></div>
                                </div>
                                <div data-v-3d278420="" class="item item-3">
                                    <div data-v-3d278420="" class="text-wrapper">
                                        <div data-v-3d278420="" class="title">200%</div>
                                        <div data-v-3d278420="" class="subtitle">
                                            Siêu âm lượng
                                        </div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-4">
                                    <img data-v-3d278420=""
                                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec2/bg-camera.webp"
                                        class="bg content-pc"> <img data-v-3d278420=""
                                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec2/bg-camera.webp"
                                        class="bg content-mb">
                                    <div data-v-3d278420="" class="wrapper">
                                        <div data-v-3d278420="" class="content-1">
                                            <div data-v-3d278420="" class="title">50MP</div>
                                            <div data-v-3d278420="" class="subtitle">
                                                Camera kép AI
                                            </div>
                                        </div>
                                        <div data-v-3d278420="" class="content-plus">
                                            <div data-v-3d278420="" class="title">+</div>
                                        </div>
                                        <div data-v-3d278420="" class="content-2">
                                            <div data-v-3d278420="" class="title">32MP</div>
                                            <div data-v-3d278420="" class="subtitle">
                                                Selfie sắc nét
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-5">
                                    <div data-v-3d278420="" class="img-phone"></div>
                                    <div data-v-3d278420="" class="text-wrapper">
                                        <div data-v-3d278420="" class="title">90Hz</div>
                                        <div data-v-3d278420="" class="subtitle">
                                            Màn hình đục lỗ siêu cảm ứng với Magic Ring
                                        </div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-6">
                                    <img data-v-3d278420=""
                                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec2/bg-ram.webp"
                                        class="bg content-pc">
                                    <div data-v-3d278420="" class="text-wrapper">
                                        <div data-v-3d278420="" class="text-ram">
                                            <div data-v-3d278420="" class="subtitle">
                                                Lên đến
                                            </div>
                                            <div data-v-3d278420="" class="title"></div>
                                            <div data-v-3d278420="" class="subtitle">
                                                RAM Mở rộng
                                            </div>
                                        </div>
                                        <div data-v-3d278420="" class="text-rom">
                                            <div data-v-3d278420="" class="title"></div>
                                            <div data-v-3d278420="" class="subtitle">ROM</div>
                                        </div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-6ram content-mb">
                                    <div data-v-3d278420="" class="img-ram content-mb"></div>
                                </div>
                                <div data-v-3d278420="" class="item item-7">
                                    <div data-v-3d278420="" class="wrapper">
                                        <div data-v-3d278420="" class="img-icon img-fingerprint"></div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-8">
                                    <div data-v-3d278420="" class="text-wrapper">
                                        <div data-v-3d278420="" class="title">
                                            <span data-v-3d278420="" class="highlight">18W</span>
                                            Sạc nhanh
                                        </div>
                                        <div data-v-3d278420="" class="subtitle">
                                            5000mAh Năng lượng bền bỉ
                                        </div>
                                    </div>
                                </div>
                                <div data-v-3d278420="" class="item item-phone">
                                    <div data-v-3d278420="" class="img-phone"></div>
                                </div>
                                <div data-v-3d278420="" class="item item-g99">
                                    <div data-v-3d278420="" class="img-g99"></div>
                                    <div data-v-3d278420="" class="img-g99-2"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
                        style="inset: auto; margin: 0px; display: block; position: relative; box-sizing: content-box; min-height: 551px; height: auto; padding-top: 0px; ">
                        <div data-v-3d278420="" class="section-wrapper"
                            style="position: relative; margin: auto; inset: auto; box-sizing: border-box; width: 100%;">
                            <section data-v-3d278420="" class="section section-3">
                                <div data-v-3d278420="" class="bg bg-main">
                                    <div data-v-3d278420="" class="bg img-phone fade-in-text"
                                        style="transform: matrix(0.05, 0, 0, 0.05, -1017.6, 231.42);"></div>
                                </div>
                                <div data-v-3d278420="" class="frame-text">
                                    <div data-v-3d278420="" class="text">
                                        Lướt mạnh mẽ - Bật niềm vui
                                        Trải nghiệm đỉnh, hết mình tuổi trẻ
                                        Xin giới thiệu HOT 40 Series
                                    </div>
                                    <div data-v-3d278420="" class="playbutton-wrapper">
                                        <div data-v-3d278420="" class="img-playbutton"></div> <button data-v-3d278420=""
                                            type="button"
                                            class="el-button el-tooltip el-tooltip__btn el-button--default"
                                            aria-describedby="el-tooltip-474" tabindex="0">
                                            <!----><!----><!---->
                                        </button>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>



                </div> <!---->
            </div>
        </div>

        <section class="feature-section chip-40i section sec1 w-100">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide flex-column-center w-100">
                        <img src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec5/sec5-bg-main.webp"
                            class="w-100 chip-40i-pc">
                        <img src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec5/bg-main.webp"
                            class="w-100 chip-40i-mb">
                        <div class="w-100 content-text fade-in-text flex-column-center-start gage-1-text">
                            <span class="title matrix-out fade-in-text">
                                BỘ XỬ LÝ
                                <p class="text-green resetfont matrix-out fade-in-text">SIÊU TỐC</p>
                            </span>
                            <span class="sub-title matrix-out fade-in-text">Trải nghiệm nhanh nhất từ trước đến
                                nay</span>
                            <span class="desc matrix-out fade-in-text">
                                Công nghệ gaming lõi tám với tiến trình 12nm tiên tiến. Tiến trình đáp ứng nhu cầu
                                hàng ngày của bạn về mọi hoạt động giải trí một cách dễ dàng.
                            </span>
                        </div>
                    </div>

                    <div class="swiper-slide flex-column-center w-100">
                        <img src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40-pro/assets/pc/sec6/sec6-bg-light.webp"
                            class="w-100 gape2-chip-1 chip-40i-pc">
                        <img src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40-pro/assets/pc/sec6/sec6-bg-ram.webp"
                            class="w-100 gape2-chip-2 chip-40i-pc">
                        <img src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro/assets/mb/sec6/sec6-bg-v2.webp"
                            class="w-100 gape2-chip-2 chip-40i-mb">
                        <div class="w-100 content-text fade-in-text flex-column-center-start gage-2-text">
                            <span class="title matrix-out fade-in-text">
                                RAM lớn
                                <p class="text-green resetfont matrix-out fade-in-text">Lên đến <b
                                        class="text-yellow resetfont">16GB</b></p>
                            </span>
                            <span class="sub-title matrix-out fade-in-text">18 ứng dụng Chuyển đổi theo ý muốn</span>
                            <span class="desc matrix-out fade-in-text">
                                Công nghệ RAM mở rộng của Infinix giúp tăng gấp đôi RAM
                                8GB ban đầu lên 16GB đáng kinh ngạc*.
                                Khởi động nhanh hơn và cho phép nhiều ứng dụng chạy cùng lúc.
                            </span>
                            <div class="flex-column-center-start">
                                <span class="title matrix-out fade-in-text">+12%</span>
                                <span class="desc matrix-out fade-in-text">Tốc độ mở app</span>
                            </div>
                            <div class="flex-column-center-start">
                                <span class="title matrix-out fade-in-text">+10%</span>
                                <span class="desc matrix-out fade-in-text">Tốc độ mở những app thường dùng</span>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="start_css swiper-button-prev" type="button" onclick="plusDivs_accessory(-1)" tabindex="0"
                    aria-label="Previous slide" aria-controls="product-container-compare">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M31 13L19 25L31 37" stroke="white" stroke-width="3"></path>
                    </svg>
                </button>
                <button class="start_css swiper-button-next" type="button" onclick="plusDivs_accessory(1)" tabindex="0"
                    aria-label="Next slide" aria-controls="product-container">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M19 37L31 25L19 13" stroke="white" stroke-width="3"></path>
                    </svg>

                </button>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        <!-- CHÍP  -->

        <section data-v-3d278420="" class="section section-5 d-none">
            <div data-v-3d278420="" class="container">
                <div data-v-3d278420="" class="text-wrapper">
                    <div data-v-3d278420="" class="text-info">
                        <div data-v-3d278420="" class="text title text-bold fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            BỘ XỬ LÝ <br data-v-3d278420=""> <span data-v-3d278420="" class="text-green">SIÊU TỐC</span>
                        </div>
                        <div data-v-3d278420="" class="text subtitle fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Trải nghiệm nhanh nhất từ trước đến nay
                        </div>
                        <div data-v-3d278420="" class="text body fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Công nghệ gaming lõi tám với tiến trình 12nm tiên tiến. Tiến trình đáp ứng nhu
                            cầu hàng ngày
                            của
                            bạn về mọi hoạt động giải trí một cách dễ dàng.
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-3d278420="" class="bg"></div>
        </section>

        <!-- XPOSST -->

        <section data-v-3d278420="" class="section section-8">
            <div data-v-3d278420="" class="container">
                <div data-v-3d278420="" class="text-wrapper">
                    <div data-v-3d278420="" class="text title fade-in-text"
                        style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                        <span data-v-3d278420="" class="text-orange text-bold" style="color: rgb(20, 255, 137);">
                            XBOOST
                        </span><br data-v-3d278420="" class="content-pc">
                        <span data-v-3d278420="" class="content-mb"></span>
                        Công nghệ chơi game <br data-v-3d278420="" class="content-pc">
                        <span data-v-3d278420="" class="highlight" style="position: relative;">
                            Thế hệ mới
                            <button data-v-3d278420="" type="button"
                                class="el-button el-tooltip el-tooltip__btn el-button--default"
                                aria-describedby="el-tooltip-6062" tabindex="0">
                                <!----><!----><!---->
                            </button>
                        </span>
                    </div>
                    <div data-v-3d278420="" class="text subtitle fade-in-text"
                        style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                        Quản lý kho game của bạn
                    </div>
                    <div data-v-3d278420="" class="text body fade-in-text"
                        style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                        Trải nghiệm công nghệ gaming XBOOST do chúng tôi tự phát triển,
                        động cơ được hiệu chỉnh theo từng khung hình để hiệu suất được liền mạch.
                        Trong khi chơi, vuốt sang trái để truy cập bảng chiến thuật,
                        cung cấp khả năng tối ưu hóa chỉ bằng một cú nhấp chuột giúp nâng cao trải nghiệm liền mạch.
                    </div>
                </div>
            </div>
            <div data-v-3d278420="" class="bg-wrapper">
                <div data-v-3d278420="" class="bg bg-1 bg-active"></div>
            </div>
            <div data-v-3d278420="" class="bg-element d-none"></div>
        </section>
        <!-- 120hz cực mượt -->
        <section class="section section-11 w-100">
           <video data-v-3d278420="" autoplay="autoplay" loop="loop" muted="muted" playsinline=""
                    webkit-playsinline="true" x5-playsinline="true" x5-video-player-type="h5"
                    x5-video-orientation="landscape" x5-video-player-fullscreen="true"
                    poster="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec11/sec11-phone-video-mb.webp"
                    class="video-control w-100">
                    <source data-v-3d278420=""
                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec11/sec11-phone-video-mb.mp4"
                        type="video/mp4">
                </video>   
        <div data-v-3d278420="" class="container">
                <div data-v-3d278420="" class="text-wrapper">
                    <div data-v-3d278420="" class="text-info">
                        <div data-v-3d278420="" class="text title text-bold fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            <span data-v-3d278420="" class="text-green content-pc">90Hz</span><span data-v-3d278420=""
                                class="content-mb">90Hz</span>
                            MƯỢT ĐỈNH CAO
                        </div>
                        <div data-v-3d278420="" class="text subtitle fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Cuộn cực căng, không lo lag
                        </div>
                        <div data-v-3d278420="" class="text body fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Hot 40i mang lại trải nghiệm chạm cực mượt, hiển thị chi tiết <br data-v-3d278420=""
                                class="content-pc">
                            sinh động hơn. Các thao tác chạm dễ dàng, tận hưởng <br data-v-3d278420=""
                                class="content-pc">
                            sự mượt mà, một bữa tiệc hình ảnh đánh thức mọi giác quan.
                        </div>
                    </div>
                    <div data-v-3d278420="" class="text-feature fade-in-text"
                        style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                        <div data-v-3d278420="" class="feature feature-1 w-100">
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">6.56”</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Màn hình đục lỗ
                            </div>
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">6.56"</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Màn hình đục lỗ
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-2">
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">89.7%</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Tỷ lệ màn hình trên thân máy
                            </div>
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">89.7%</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Tỷ lệ màn hình trên thân máy
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-3">
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">720p</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Độ phân giải màn hình
                            </div>
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">720P</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Độ phân giải màn hình
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-4 w-100">
                            <div data-v-3d278420="" class="title fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight">DRE</span>
                                (Tăng cường vùng tối)
                            </div>
                            <div data-v-3d278420="" class="subtitle fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Công nghệ đọc được dưới ánh sáng mặt trời
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 120hz cực mượt -->
        <section data-v-3d278420="" class="section section-11 d-none">
            <div data-v-3d278420="" class="bg"></div>
            <div data-v-3d278420="" class="container">
                <div data-v-3d278420="" class="text-wrapper">
                    <div data-v-3d278420="" class="text-info">
                        <div data-v-3d278420="" class="text title text-bold fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            <span data-v-3d278420="" class="text-green content-pc">90Hz</span><span data-v-3d278420=""
                                class="content-mb">90Hz</span>
                            MƯỢT ĐỈNH CAO
                        </div>
                        <div data-v-3d278420="" class="text subtitle fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Cuộn cực căng, không lo lag
                        </div>
                        <div data-v-3d278420="" class="text body fade-in-text"
                            style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Hot 40i mang lại trải nghiệm chạm cực mượt, hiển thị chi tiết <br data-v-3d278420=""
                                class="content-pc">
                            sinh động hơn. Các thao tác chạm dễ dàng, tận hưởng <br data-v-3d278420=""
                                class="content-pc">
                            sự mượt mà, một bữa tiệc hình ảnh đánh thức mọi giác quan.
                        </div>
                    </div>
                    <div data-v-3d278420="" class="text-feature fade-in-text"
                        style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                        <div data-v-3d278420="" class="feature feature-1">
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">6.56”</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Màn hình đục lỗ
                            </div>
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">6.56"</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Màn hình đục lỗ
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-2">
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">89.7%</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Tỷ lệ màn hình trên thân máy
                            </div>
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">89.7%</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Tỷ lệ màn hình trên thân máy
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-3">
                            <div data-v-3d278420="" class="title content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-mb">720p</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-mb fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Độ phân giải màn hình
                            </div>
                            <div data-v-3d278420="" class="title content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight content-pc">720P</span>
                            </div>
                            <div data-v-3d278420="" class="subtitle content-pc fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Độ phân giải màn hình
                            </div>
                        </div>
                        <div data-v-3d278420="" class="feature feature-4">
                            <div data-v-3d278420="" class="title fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                <span data-v-3d278420="" class="highlight">DRE</span>
                                (Tăng cường vùng tối)
                            </div>
                            <div data-v-3d278420="" class="subtitle fade-in-text"
                                style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                Công nghệ đọc được dưới ánh sáng mặt trời
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-v-3d278420="" class="phone-video content-pc">
                <video data-v-3d278420="" autoplay="autoplay" loop="loop" muted="muted" playsinline=""
                    webkit-playsinline="true" x5-playsinline="true" x5-video-player-type="h5"
                    x5-video-orientation="landscape" x5-video-player-fullscreen="true"
                    poster="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec11/sec11-phone-video-pc.webp"
                    class="video-control">
                    <source data-v-3d278420=""
                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/pc/sec11/sec11-phone-video-pc.mp4"
                        type="video/mp4">
                </video>
            </div>
            <div data-v-3d278420="" class="phone-video content-mb">
                <video data-v-3d278420="" autoplay="autoplay" loop="loop" muted="muted" playsinline=""
                    webkit-playsinline="true" x5-playsinline="true" x5-video-player-type="h5"
                    x5-video-orientation="landscape" x5-video-player-fullscreen="true"
                    poster="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec11/sec11-phone-video-mb.webp"
                    class="video-control">
                    <source data-v-3d278420=""
                        src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec11/sec11-phone-video-mb.mp4"
                        type="video/mp4">
                </video>
            </div>
        </section>

        <!-- camera -->
        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: flex; position: relative; box-sizing: content-box; width: 100%">
            <section data-v-3d278420="" class="section section-17" style=" margin: auto; inset: 0px auto auto 0px;">
                <div data-v-3d278420="" class="container">
                    <div data-v-3d278420="" class="text-wrapper">
                        <div data-v-3d278420="" class="text title fade-in-text"
                            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 40);">
                            <span data-v-3d278420="" class="highlight">50MP</span>
                            Siêu Chụp Đêm
                            <br data-v-3d278420="">
                            Bộ ba Camera AI
                        </div>
                        <div data-v-3d278420="" class="text subtitle fade-in-text"
                            style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Luôn tuyệt vời mọi lúc, mọi nơi
                        </div>
                        <div data-v-3d278420="" class="text body fade-in-text"
                            style="opacity: 0.8; transform: matrix(1, 0, 0, 1, 0, 40);">
                            Hình ảnh đầy màu sắc, tươi sáng và sắc nét trong mọi điều kiện ánh sáng.
                            <br data-v-3d278420="" class="content-pc">
                            Chế độ Siêu Chụp Đêm tận dụng thuật toán Al và khẩu độ lớn f/1.6
                            <br data-v-3d278420="" class="content-pc">
                            mang lại nhiều ánh sáng hơn trong mỗi lần chụp.
                            <br data-v-3d278420="" class="content-pc">
                            Mặt trời lặn, nhưng câu chuyện vẫn tiếp tục.
                        </div>
                    </div>
                </div>
                <div data-v-3d278420="" class="bg fade-in-text" style="opacity: 0;"></div>
                <div data-v-3d278420="" class="img-phone fade-in-text" style="transform: matrix(1, 0, 0, 1, -1920, 0);">
                </div>
            </section>
        </div>
        <!-- bin và bền bỉ -->

        <section class="section section-15">
            <img class="w-100" src="https://vn.infinixmobility.com/newfileadmin/usp/hot-40i/assets/mb/sec15/bg-mainv1.webp" alt="">
            <div data-v-3d278420="" class="page page-1 fade-in-text" style="transform: matrix(1, 0, 0, 1, 0, 40);">
                    <div data-v-3d278420="" class="bg d-none"></div>
                    <div data-v-3d278420="" class="img-main fade-in-text" style="transform: matrix(1, 0, 0, 1, 0, 40);">
                        <div data-v-3d278420="" class="img-phone"></div>
                        <div data-v-3d278420="" class="img-light" style="opacity: 1;"></div>
                    </div>
                    <div data-v-3d278420="" class="container">
                        <div data-v-3d278420="" class="text-wrapper" style="opacity: 1;">
                            <div data-v-3d278420="" class="text-info">
                                <div data-v-3d278420="" class="text title text-bold fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    <span data-v-3d278420="" class="highlight">5000mAh 18W</span>
                                </div>
                                <div data-v-3d278420="" class="text subtitle fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    Năng lượng bền bỉ từ Ngày đến Đêm với Sạc nhanh
                                </div>
                                <div data-v-3d278420="" class="text body fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    Năng lượng bền bỉ từ ngày đến đêm với viên pin lớn 5000mAh. Công nghệ sạc nhanh 18W
                                    nổi
                                    bật mới được nâng cấp <br data-v-3d278420="" class="content-pc">
                                    và cổng Type-C giúp bạn không còn lo lắng về thời lượng pin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer d-none"
            style="inset: auto; margin: 0px; display: flex; position: relative; box-sizing: content-box;;padding-bottom: 8.5vw;background: black;">
            <section data-v-3d278420="" class="section section-15"
                style="margin: auto; inset: 0px auto auto 0px; box-sizing: border-box; width: 100%;">
                <div data-v-3d278420="" class="bg-main"></div>
                <div data-v-3d278420="" class="page page-1 fade-in-text" style="transform: matrix(1, 0, 0, 1, 0, 40);">
                    <div data-v-3d278420="" class="bg d-none"></div>
                    <div data-v-3d278420="" class="img-main fade-in-text" style="transform: matrix(1, 0, 0, 1, 0, 40);">
                        <div data-v-3d278420="" class="img-phone"></div>
                        <div data-v-3d278420="" class="img-light" style="opacity: 1;"></div>
                    </div>
                    <div data-v-3d278420="" class="container">
                        <div data-v-3d278420="" class="text-wrapper" style="opacity: 1;">
                            <div data-v-3d278420="" class="text-info">
                                <div data-v-3d278420="" class="text title text-bold fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    <span data-v-3d278420="" class="highlight">5000mAh 18W</span>
                                </div>
                                <div data-v-3d278420="" class="text subtitle fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    Năng lượng bền bỉ từ Ngày đến Đêm với Sạc nhanh
                                </div>
                                <div data-v-3d278420="" class="text body fade-in-text"
                                    style="opacity: 0; transform: matrix(1, 0, 0, 1, 0, 40);">
                                    Năng lượng bền bỉ từ ngày đến đêm với viên pin lớn 5000mAh. Công nghệ sạc nhanh 18W
                                    nổi
                                    bật mới được nâng cấp <br data-v-3d278420="" class="content-pc">
                                    và cổng Type-C giúp bạn không còn lo lắng về thời lượng pin.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>


    </section>

    <section class="flex-column-center max-w-640px item-40i-pro" style="display: none;" id="hidden-hot40-pro">
        <section data-v-7cb7d547="" class="section sec2">
            <div data-v-7cb7d547="" class="container">
                <div data-v-7cb7d547="" class="grid">
                    <div data-v-7cb7d547="" class="item item-1">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-metamaterial-v2.webp"
                            class="bg content-pc"> <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-metamaterial-v2.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="text-wrapper">
                            <div data-v-7cb7d547="" class="subtitle">SIÊU VẬT LIỆU</div>
                            <div data-v-7cb7d547="" class="body">Công nghệ kết nối gaming</div>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-2">
                        <div data-v-7cb7d547="" class="title">Magic Ring</div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-4">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-helio-v3.webp"
                            class="bg content-pc">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-helio-v3.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="text-wrapper">
                            <div data-v-7cb7d547="" class="title">Helio G99</div>
                            <div data-v-7cb7d547="" class="body">Bộ xử lý siêu tốc</div>
                            <div data-v-7cb7d547="" class="body-2">công nghệ Gaming</div>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-5">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-camera-v2.webp"
                            class="bg content-pc">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-camera.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="wrapper">
                            <div data-v-7cb7d547="" class="content-1">
                                <div data-v-7cb7d547="" class="title">108MP</div>
                                <div data-v-7cb7d547="" class="subtitle">Bộ ba Camera AI</div>
                                <div data-v-7cb7d547="" class="body">32MP Camera selfie </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-3">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-display.webp"
                            class="bg content-pc"> <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-display.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="img-phone"></div>
                        <div data-v-7cb7d547="" class="text-wrapper">
                            <span data-v-7cb7d547="" class="title">120Hz</span><br data-v-7cb7d547=""
                                class="content-pc"> <span data-v-7cb7d547="" class="body">
                                FHD+ <br data-v-7cb7d547="">Màn hình siêu cảm ứng với
                            </span>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-6">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-ram-v3.webp"
                            class="bg content-pc"> <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-ram-v3.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="text-wrapper">
                            <div data-v-7cb7d547="" class="body">Lên đến</div>
                            <div data-v-7cb7d547="" class="title">16GB RAM</div>
                            <div data-v-7cb7d547="" class="body">Mở Rộng +256GB ROM</div>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-7">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/pc/sec2/bg-charge-v2.webp"
                            class="bg content-pc">
                        <img data-v-7cb7d547=""
                            src="https://vn.infinixmobility.com//newfileadmin/usp/hot-40-pro-ff/assets/mb/sec2/bg-charge-v2.webp"
                            class="bg content-mb">
                        <div data-v-7cb7d547="" class="text-wrapper">
                            <div data-v-7cb7d547="" class="title">
                                33W <br data-v-7cb7d547="" class="content-pc">Sạc nhanh
                            </div>
                            <div data-v-7cb7d547="" class="body">5000mAh Năng lượng bền bỉ </div>
                        </div>
                    </div>
                    <div data-v-7cb7d547="" class="item item-8">
                        <div data-v-7cb7d547="" class="wrapper">
                            <div data-v-7cb7d547="" class="img-feature-hires"></div>
                            <div data-v-7cb7d547="" class="img-feature-gyro"></div>
                            <div data-v-7cb7d547="" class="img-feature-nfc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @* chíp *@
        <section class="feature-section chip section sec1 w-100">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide page page-1-chip w-100">
                        <img class="fade-in-image Flip-feature-one-banner w-100"
                            src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec9/part1-v2.webp"
                            alt="hình ảnh banner">
                        <div class="content-text fade-in-text">
                            <span class="title">
                                Helio G99
                                <br>
                                Bộ xử lý siêu tốc
                            </span>
                            <span class="sub-title"> Nhanh hơn bao giờ hết</span>
                            <span class="desc">
                                Tiến trình 6nm cho phép Helio G99 kết hợp với số lượng bóng bán dẫn tăng lên,
                                mang lại hiệu suất cực kỳ hiệu quả và giảm mức tiêu thụ điện năng.
                            </span>
                            <div class="details">
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-primary">6nm</span>
                                    <span class="details-desc">Tiến trình TSMC</span>
                                </div>
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-primary" style="position: relative;">10%</span>
                                    <span class="details-desc">Tần số cao hơn</span>
                                </div>
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-primary" style="position: relative;">28%</span>
                                    <span class="details-desc">Băng thông bộ nhớ cao hơn</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide page page-2-chip w-100">
                        <img class="fade-in-image Flip-feature-one-banner w-100"
                            src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec9/part2-v2.webp"
                            alt="hình ảnh banner">
                        <div class="content-text fade-in-text">
                            <span class="title">
                                Lên đến 16GB lớn
                            </span>
                            <span class="sub-title">18 ứng dụng chuyển đổi theo ý muốn</span>
                            <span class="desc">
                                Công nghệ RAM mở rộng của Infinix tăng gấp đôi RAM
                                8GB ban đầu lên 16GB*. Khởi động nhanh hơn <br>
                                và cho phép nhiều ứng dụng chạy cùng lúc.
                                *Bao gồm RAM mở rộng 8GB.
                            </span>

                            <div class="details">
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-primary">+12%</span>
                                    <span class="details-desc">Tần suất mở máy</span>
                                </div>
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-primary" style="position: relative;">+10%</span>
                                    <span class="details-desc">Tốc độ mở</span>
                                    <span class="details-desc">những app thường dùng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="start_css swiper-button-prev" type="button" onclick="plusDivs_accessory(-1)" tabindex="0"
                    aria-label="Previous slide" aria-controls="product-container-compare">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M31 13L19 25L31 37" stroke="white" stroke-width="3"></path>
                    </svg>
                </button>
                <button class="start_css swiper-button-next" type="button" onclick="plusDivs_accessory(1)" tabindex="0"
                    aria-label="Next slide" aria-controls="product-container">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M19 37L31 25L19 13" stroke="white" stroke-width="3"></path>
                    </svg>

                </button>

                <div class="swiper-pagination"></div>
            </div>
        </section>

        @* XPOSST *@

        <section class="feature-section xposst section sec1 w-100">
            <div class="page-text content-text">
                <div class="flex-column-center-start">
                    <span class="title text-green matrix-out fade-in-text">XBOOST</span>
                    <span class="title matrix-out fade-in-text">CÔNG NGHỆ CHƠI GAME <br> THẾ HỆ MỚI</span>
                    <span class="sub-title matrix-out fade-in-text">Quản lý kho game của bạn</span>
                    <span class="desc matrix-out fade-in-text">Trải nghiệm công nghệ gaming XBOOST do chúng tôi tự phát
                        triển,
                        động cơ được hiệu chỉnh theo từng khung hình để hiệu suất được liền mạch.
                        Trong khi chơi, vuốt sang trái để truy cập bảng chiến thuật, cung cấp
                        khả năng tối ưu hóa chỉ bằng một cú nhấp chuột giúp nâng cao trải nghiệm liền mạch.</span>
                </div>
                <div class="button-wrapper flex-column-center-start">
                    <span class="bg button matrix-out fade-in-text">Tiết kiệm năng lượng</span>
                    <span class="bg button matrix-out fade-in-text">Cân bằng</span>
                    <span class="bg button matrix-out fade-in-text">Thúc đẩy</span>
                </div>
            </div>
                        <img class="fade-in-image Flip-feature-one-banner w-100"
                src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec10/img-hand.webp"
                alt="hình ảnh banner">
        </section>

        @* 120Hz *@

        <section class="feature-section hz120 section sec1 w-100 flex-column-center gap-30px padding-30px-0 " style="background: black;">
            <div class="page-text page1 content-text matrix-out fade-in-text">
                <div class="flex-column-center">
                    <div class="d-flex-center">
                        <span class="text-green sub-title matrix-out fade-in-text">120Hz</span>
                        <span class="sub-title matrix-out fade-in-text">Cực mượt</span>
                    </div>
                    <span class="desc matrix-out fade-in-text">Lướt cực mượt mà không lo lag</span>
                </div>
            </div>
            <img src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec13/phone-v2.webp"
                class="img-text img-content-1 content-pc fade-in-text">

            <div class="page-text page3 content-text matrix-out fade-in-text">
                <span class="desc content-1 matrix-out fade-in-text">
                    Màn hình 120Hz FHD+ cao cấp mang đến trải nghiệm cảm ứng mượt mà với
                    <br class="content-pc">tốc độ làm mới cao. Tốc độ làm mới ba cấp độ tự động thích ứng với các chế độ
                    <br class="content-pc">tác vụ khác nhau, giúp độ sáng trở nên thông minh và ấn tượng hơn.
                </span>
            </div>

            <div class="flex-column-center content-text position-relative">
                <div class="d-flex-start justify-content-md-between text-img-hz120">
                    <div class="flex-column-center-start gap-10px">
                        <div class="flex-column-center-start gap-5px">
                            <span class="text-green sub-title matrix-out fade-in-text m-sm-0 mr-bt-10">6.78"</span>
                            <span class="desc matrix-out fade-in-text m-sm-0 white-white-1">Màn hình đục lỗ</span>
                        </div>
                        <div class="flex-column-center-start gap-5px">
                            <span class="text-green sub-title matrix-out fade-in-text m-sm-0">90.7%</span>
                            <span class="desc matrix-out fade-in-text m-sm-0 white-white-1">Tỷ lệ màn hình trên thân
                                máy</span>
                        </div>
                    </div>

                    <div class="flex-column-center-start gap-10px">
                        <div class="flex-column-center-start gap-5px">
                            <span class="text-green sub-title matrix-out fade-in-text m-sm-0 mr-bt-10">1080P</span>
                            <span class="desc matrix-out fade-in-text m-sm-0 white-white-1">Độ phân giải</span>
                        </div>
                        <div class="flex-column-center-start gap-5px">
                            <span class="text-green sub-title matrix-out fade-in-text m-sm-0">DRE</span>
                            <span class="text-primary desc matrix-out fade-in-text m-sm-0">(Dark Region
                                Enhancement)</span>
                            <span class="desc matrix-out fade-in-text m-sm-0 white-white-1">Công nghệ đọc được
                                dưới ánh sáng mặt trời</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @* bin *@
        <section class="feature-section bin section sec1 w-100">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide page page-1-bin w-100">
                        <img class="fade-in-image Flip-feature-one-banner w-100"
                            src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec16/bg.webp"
                            alt="hình ảnh banner">
                        <div class="content-text fade-in-text">
                            <span class="title">
                                <p class="text-66efac resetfont">33W</p>
                                Sạc nhanh bền bỉ
                            </span>
                            <span class="sub-title">Giữ vững tốc độ ngay cả sau 4 năm</span>
                            <span class="desc">
                                Công nghệ Sạc Nhanh 33W mang lại khả năng sạc đầy nhanh chóng giúp bạn tận hưởng trải
                                nghiệm liền mạch đồng thời đảm bảo
                                an toàn cho người dùng và kéo dài tuổi thọ pin với tính năng theo dõi nhiệt độ theo thời
                                gian thực.
                                <br>
                                Ngay cả sau 4 năm*, bạn chỉ cần sạc một lần mỗi ngày.
                                <br>
                                *Dữ liệu đến từ phòng thí nghiệm Infinix. Hiệu suất sử dụng thực tế có thể thay đổi đôi
                                chút tùy theo môi trường thử nghiệm.
                            </span>
                            <div class="details">
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-66efac">20%-75%</span>
                                    <span class="details-desc">trong 35 phút</span>
                                </div>
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-66efac">1600</span>
                                    <span class="details-desc">chu kỳ sạc</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide page page-2-bin w-100">
                        <img class="fade-in-image Flip-feature-one-banner w-100"
                            src="https://wap.vn.infinixmobility.com/newfileadmin/usp/hot-40-pro-ff/assets/mb/sec17/bg.webp"
                            alt="hình ảnh banner">
                        <div class="content-text fade-in-text">
                            <span class="title">
                                <b class="text-66efac resetfont">5000mAh</b> Pin lớn
                            </span>
                            <span class="sub-title">Năng lượng bền bỉ sáng đến tối</span>
                            <span class="desc">
                                Pin 5000mAh kết hợp với giải pháp Power Marathon độc quyền có thể hỗ trợ thời gian chờ
                                cả ngày dài đáng kinh ngạc hoặc lên đến 2 giờ gọi điện ngay cả khi pin chỉ còn 5%.
                            </span>

                            <div class="details">
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-66efac">+12%</span>
                                    <span class="details-desc">Tần suất mở máy</span>
                                </div>
                                <div class="details-content flex-column-center-start">
                                    <span class="details-title text-66efac" style="position: relative;">+10%</span>
                                    <span class="details-desc">Tốc độ mở</span>
                                    <span class="details-desc">những app thường dùng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="start_css swiper-button-prev" type="button" onclick="plusDivs_accessory(-1)" tabindex="0"
                    aria-label="Previous slide" aria-controls="product-container-compare">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M31 13L19 25L31 37" stroke="white" stroke-width="3"></path>
                    </svg>
                </button>
                <button class="start_css swiper-button-next" type="button" onclick="plusDivs_accessory(1)" tabindex="0"
                    aria-label="Next slide" aria-controls="product-container">
                    <svg class="start_css" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"
                        fill="none">
                        <rect width="50" height="50" rx="25" fill="#615f5f"></rect>
                        <path d="M19 37L31 25L19 13" stroke="white" stroke-width="3"></path>
                    </svg>

                </button>

                <div class="swiper-pagination"></div>
            </div>
        </section>



        @* camra ai *@

        <div data-scrollmagic-pin-spacer="" class="scrollmagic-pin-spacer"
            style="inset: auto; margin: 0px; display: flex; position: relative; box-sizing: content-box ; width: 100%; min-height: 513px; height: 513px; padding-top: 3.49883px; padding-bottom: 30px;">
            <section data-v-7cb7d547="" class="section sec19">
                <div data-v-7cb7d547="" class="page part-1" style="opacity: 1;text-align: start;">
                    <div data-v-7cb7d547="" class="bg bg-absolute bg-main" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                        <div data-v-7cb7d547="" class="bg bg-absolute layer" style="opacity: 0;"></div>
                    </div>
                    <div data-v-7cb7d547="" class="page page-1">
                        <div data-v-7cb7d547="" class="bg bg-absolute bg-2" style="opacity: 1;"></div>
                        <div data-v-7cb7d547="" class="text text-wrapper" style="opacity: 1;"><span data-v-7cb7d547=""
                                class="title"><span data-v-7cb7d547="">Bộ ba camera AI</span> <br data-v-7cb7d547="">
                                <span data-v-7cb7d547="" class="text-66efac">108MP</span></span> <span
                                data-v-7cb7d547="" class="sub-title">Luôn tuyệt vời mọi lúc, mọi nơi</span> <span
                                data-v-7cb7d547="" class="desc">
                                Được kết hợp với cảm biến HM6, ống kính độ phân giải cao 108MP <br data-v-7cb7d547=""
                                    class="content-pc">
                                của chúng tôi ghi lại các chi tiết với điểm ảnh 0,64 micron, <br data-v-7cb7d547=""
                                    class="content-pc">
                                cho phép bạn dễ dàng chụp và biến các bức ảnh được tạo ra <br data-v-7cb7d547=""
                                    class="content-pc">
                                của mình thành những kiệt tác tuyệt đẹp. Bất kể cắt xén, <br data-v-7cb7d547=""
                                    class="content-pc">
                                mọi thứ được ống kính chụp vẫn rõ ràng.
                            </span></div>
                    </div>

                </div>
            </section>
        </div>
    </section>
</main>



@section scripts {
    <!-- Swiper JS -->
    <script src="~/Content/hot-40i/js/swiper-bundle.min.js"></script>
    <script src="~/Content/hot-40i/js-css/web_Desktop.js?@DateTime.Now"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            zoom: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            }
        });

    </script>
    <script>
        // Lấy tất cả các phần tử có lớp "div-banner-item"
        var btns1 = document.getElementsByClassName("Flip-feature-item");

        // Lặp qua từng phần tử và gắn sự kiện click cho chúng
        for (var i = 0; i < btns1.length; i++) {
            btns1[i].addEventListener("click", function () {
                // Loại bỏ lớp "active" từ tất cả các phần tử có lớp "div-banner-item"
                for (var j = 0; j < btns1.length; j++) {
                    btns1[j].classList.remove("active");
                }

                // Thêm lớp "active" vào phần tử được nhấp vào
                this.classList.add("active");
            });
        }

        $(document).ready(function () {
            $("#div-hot40").click(function () {
                $("#hidden-hot40").show();
                $("#hidden-hot40-pro").hide();
            });

            $("#div-hot40-pro").click(function () {
                $("#hidden-hot40").hide();
                $("#hidden-hot40-pro").show();
            });
        });

    </script>
}
