@{
    ViewBag.Title = "Index_Mobile_Flip";
    Layout = "~/Views/Shared/_Layout_Mobile.cshtml";
}
<link rel="stylesheet" href="~/Content/Oppon3/js-css/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="~/Content/Oppon3/js-css/web_Mobile_n3.css?@DateTime.Now" type="text/css" rel="stylesheet" />
@* <link href="~/Content/Oppon3/js-css/web_Mobile_n3_Flip.css?@DateTime.Now" type="text/css" rel="stylesheet" /> *@
<link href="~/Content/Oppon3/js-css/swipper-3d.css?@DateTime.Now" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/Oppon3/css/icon.min.css">
<link rel="stylesheet" href="~/Content/Oppon3/css/bootstrap.min.css?@DateTime.Now">
<link rel="stylesheet" href="~/Content/Oppon3/js-css/web_Mobile_oppo.css?@DateTime.Now">
<link rel="stylesheet" href="~/Content/Oppon3/js-css/jquery_box_video.css?@DateTime.Now">
<main class="content_mobile">
    <section class="Default-feature-one feature-section">
        <img class="w-100" src="~/Content/Oppon3/img_n3_Flip/FIND N3 Series - KV PRE ORDER - H - RGB.jpg">
    </section>
    <section class="feature-section position-relative">
        <div class="video_box_pc w-100">
            <video autoplay controls loop muted class=" w-100 pc_video lazyloading"
                   src="~/Content/Oppon3/video/OPPO N3 Mobile combine 30s 16x9 ending KV master.mp4">
            </video>

        </div>

        <div class="stass_css s2-click-btn"
             style="transform: translate(-50%, 0%) translate(0px, 0vw);position: absolute; bottom: 60px;">


            <a class="stass_css btn btn-light mo-mb-2" id="openPopup">Open YouTube Video</a>

        </div>
    </section>
    <section class="feature-three d-flex justify-content-center padding-bottom-50px">
        <div class="d-flex text-align-center button-slide ">
            <button class="resetfont btn-Default btn-add-all color--n-3-black text-btn-add Reserve  background-white background-2CFF73">
                OPPO Find N3
            </button>
            <button class="resetfont btn-add-all  btn-Flip  color--n-3-black text-btn-add installment background-white">
                OPPO Find N3 Flip
            </button>
        </div>
    </section>
    <div class="oppo-n3-Default w-100">
        <section class="Default-feature-one feature-section">
            <div class="flex-column-center gap-6px">
                <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036-">Find N3</h1>
                <p class="resetfont color-s18-w400 color-000 letter-spacing-0117-">
                    Ultra Thin. Ultra Light. Ultra
                    Powerful.
                </p>
            </div>
            <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-one.png" alt="hình ảnh banner">
            <img src="~/Content/Oppon3/img-Mobile-n3/Oppo-logo.png" alt="hình ảnh banner">
        </section>
        <section class="Default-feature-two feature-section">
            <div class="d-flex w-100 justify-content-between">
                <h2 class="resetfont color-center color-s18-w400 s-16 color-white letter-spacing-0051">Find N3</h2>
                <div class="d-flex gap-8px">
                    <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3?buy=1"
                       class="resetfont btn-add color-n-3-black background-2CFF73 color-s18-w400 s-14">
                        Đặt
                        Trước
                    </a>
                    <a class="resetfont btn-add color-n-3-white background-1D1D1F color-s18-w400 s-14">
                        Trả Góp
                        0%
                    </a>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between h-35px">
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#section1">
                    <p class="resetfont color-n-3-white color-s18-w400 s-14 line-height-24px">Design</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#section2">
                    <p class="resetfont color-n-3-white color-s18-w400 s-14 line-height-24px">Experience</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#section3">
                    <p class="resetfont color-n-3-white color-s18-w400 s-14 line-height-24px">Camera</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#section4">
                    <p class="resetfont color-n-3-white color-s18-w400 s-14 line-height-24px">Performance</p>
                </div>
            </div>
        </section>
        <section id="section1" class="Default-feature-three feature-section gap-25px background-020304">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-2px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-n-3-white">
                        Bậc
                        Thầy
                        Thiết Kế
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        Mỏng nhẹ bậc nhất
                    </p>
                </div>
                <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                    Sở hữu trọng lượng và độ mỏng vượt trội ở thời điểm hiện tại.
                    Bên cạnh đó, kết hợp cùng sự tinh tế trong từng chi tiết mang tính biểu tượng khiến Find N3 trở
                    thành
                    một tuyệt tác thiết kế đúng nghĩa.
                </p>
            </div>
            <div class="w-80">
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-three.png" alt="hình ảnh banner">
            </div>
            <div class="d-flex gap-16px w-100">
                <div class="flex-column-center gap-4px w-50">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-ABB0BE">
                        Nhẹ chỉ
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        239g
                    </p>
                </div>
                <div class="flex-column-center gap-4px w-50">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-ABB0BE">
                        Mỏng
                        chỉ
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        5.8mm
                    </p>
                </div>
            </div>
        </section>
        <section id="section2" class="Default-feature-four feature-section gap-25px background-020304">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-2px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-n-3-white">
                        Bậc
                        Thầy
                        Trải Nghiệm
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        Hệ điều hành hàng đầu cho điện thoại gập
                    </p>
                </div>
                <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                    Hàng loạt các cử chỉ thông minh như: đa nhiệm nhiều cửa sổ, chia đôi màn hình linh hoạt … được tuỳ
                    biến
                    độc quyền giúp tận dụng màn hình siêu
                    lớn trên Find N3 để nâng cao tối đa hiệu suất công việc như một chuyên gia.
                </p>
            </div>

            <picture class="w-auto">
                <!-- Sử dụng hình ảnh WebP cho màn hình có kích thước lớn hơn hoặc bằng 768px -->
                <source srcset="~/Content/Oppon3/img-Mobile-n3/Default-feature-four_400x.png" type="image/webp"
                        media="(max-width: 400px)">
                <!-- Sử dụng hình ảnh JPEG cho các trường hợp khác -->
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-four.png" alt="Hình ảnh mô tả">
            </picture>
            <div class="flex-column-center w-100">
                <div class="flex-column-center gap-10px w-90">
                    <div class="d-flex gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                            <g clip-path="url(#clip0_298_353)">
                                <path opacity="0.1"
                                      d="M5.91042 1H58.0896C60.8015 1 63 3.19847 63 5.91042V58.0896C63 60.8015 60.8015 63 58.0896 63H5.91042C3.19847 63 1 60.8015 1 58.0896V5.91042C1 3.19847 3.19847 1 5.91042 1Z"
                                      fill="url(#paint0_linear_298_353)" stroke="url(#paint1_linear_298_353)"
                                      stroke-width="2" />
                                <path d="M18.0009 48.9997V52.6097M45.0016 48.9997V52.6097M11.5997 48.4297H14.0197C14.6659 48.4297 15.1897 48.9535 15.1897 49.5997V52.0197C15.1897 52.6659 14.6659 53.1897 14.0197 53.1897H11.5997C10.9535 53.1897 10.4297 52.6659 10.4297 52.0197V49.5997C10.4297 48.9535 10.9535 48.4297 11.5997 48.4297ZM22.1692 48.4297H24.5892C25.2354 48.4297 25.7592 48.9535 25.7592 49.5997V52.0197C25.7592 52.6659 25.2354 53.1897 24.5892 53.1897H22.1692C21.523 53.1897 20.9992 52.6659 20.9992 52.0197V49.5997C20.9992 48.9535 21.523 48.4297 22.1692 48.4297ZM30.1689 48.4297H32.5889C33.2351 48.4297 33.7589 48.9535 33.7589 49.5997V52.0197C33.7589 52.6659 33.2351 53.1897 32.5889 53.1897H30.1689C29.5227 53.1897 28.9989 52.6659 28.9989 52.0197V49.5997C28.9989 48.9535 29.5227 48.4297 30.1689 48.4297ZM38.1703 48.4297H40.5903C41.2365 48.4297 41.7603 48.9535 41.7603 49.5997V52.0197C41.7603 52.6659 41.2365 53.1897 40.5903 53.1897H38.1703C37.5241 53.1897 37.0003 52.6659 37.0003 52.0197V49.5997C37.0003 48.9535 37.5241 48.4297 38.1703 48.4297ZM49.1706 48.4297H51.5906C52.2368 48.4297 52.7606 48.9535 52.7606 49.5997V52.0197C52.7606 52.6659 52.2368 53.1897 51.5906 53.1897H49.1706C48.5245 53.1897 48.0006 52.6659 48.0006 52.0197V49.5997C48.0006 48.9535 48.5245 48.4297 49.1706 48.4297Z"
                                      stroke="url(#paint2_linear_298_353)" stroke-width="0.85" stroke-miterlimit="10"
                                      stroke-linecap="round" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_298_353" x1="0" y1="0" x2="64" y2="0"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#C7D3FF" />
                                    <stop offset="1" stop-color="#B8C8FF" stop-opacity="0.4" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_298_353" x1="0" y1="0" x2="64" y2="0"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="white" stop-opacity="0.56" />
                                    <stop offset="1" stop-color="#89A3FF" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_298_353" x1="10.4297" y1="53.1897" x2="52.7606"
                                                y2="53.1897" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F0E1C7" />
                                    <stop offset="1" stop-color="#8E8265" />
                                </linearGradient>
                                <clipPath id="clip0_298_353">
                                    <rect width="64" height="64" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Thanh tác vụ
                            tương tác thông minh
                        </p>
                    </div>
                    <div class="d-flex gap-5">
                        <img src="~/Content/Oppon3/img-Mobile-n3/Icon-item-five2.png" alt="hình ảnh banner">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Hiển thị mở rộng với
                            3 app cùng lúc
                        </p>
                    </div>
                    <div class="d-flex gap-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64" fill="none">
                            <g clip-path="url(#clip0_298_361)">
                                <path opacity="0.1"
                                      d="M5.91042 1H58.0896C60.8015 1 63 3.19847 63 5.91042V58.0896C63 60.8015 60.8015 63 58.0896 63H5.91042C3.19847 63 1 60.8015 1 58.0896V5.91042C1 3.19847 3.19847 1 5.91042 1Z"
                                      fill="url(#paint0_linear_298_361)" stroke="url(#paint1_linear_298_361)"
                                      stroke-width="2" />
                                <path d="M36.06 53.84C33.55 53.61 32.14 50.73 31.54 49.5C31.45 49.32 31.39 49.19 31.35 49.13C30.87 48.33 27.37 40.98 26.31 38.75C24.73 36.5 24.24 34.97 24.77 33.94C25.11 33.29 25.84 32.93 26.84 32.93C27.24 32.93 27.59 32.99 27.82 33.04C29.16 33.33 30.22 34.16 30.97 35.52C31.33 36.16 32.21 37.91 32.4 38.29C32.54 38.24 32.72 38.11 32.72 37.91V22.64C32.72 21.31 33.8 20.23 35.13 20.23C36.46 20.23 37.54 21.31 37.54 22.64V26.94C37.66 26.91 37.79 26.89 37.92 26.89C39.76 26.89 41.26 28.39 41.26 30.23V30.25C41.38 30.22 41.51 30.2 41.64 30.2C43.45 30.2 44.93 31.64 44.98 33.44C45.1 33.41 45.23 33.39 45.36 33.39C47.2 33.39 48.69 34.87 48.69 36.68V44.43C48.69 47.08 48.2 49.34 47.28 50.96C46.21 52.84 44.58 53.84 42.56 53.84H36.06ZM26.84 34.04C26.45 34.04 25.94 34.11 25.76 34.45C25.65 34.67 25.42 35.57 27.22 38.1C27.25 38.15 27.47 38.61 27.81 39.33C29.03 41.89 31.89 47.89 32.3 48.55C32.36 48.65 32.43 48.8 32.54 49.01C33.06 50.07 34.27 52.55 36.1 52.73H42.56C45.7 52.73 47.58 49.62 47.58 44.43V36.68C47.58 35.48 46.6 34.5 45.4 34.5C45.16 34.5 44.98 34.65 44.98 34.87V38.43C44.98 38.74 44.73 38.99 44.42 38.99C44.11 38.99 43.86 38.74 43.86 38.43V33.54C43.86 32.31 42.86 31.31 41.63 31.31C41.42 31.31 41.25 31.48 41.25 31.68V36.56C41.25 36.87 41 37.12 40.69 37.12C40.38 37.12 40.13 36.87 40.13 36.56V30.22C40.13 28.99 39.13 27.99 37.9 27.99C37.69 27.99 37.52 28.16 37.52 28.36V34.7C37.52 35.01 37.27 35.26 36.96 35.26C36.65 35.26 36.4 35.01 36.4 34.7V22.62C36.4 21.9 35.82 21.32 35.1 21.32C34.38 21.32 33.8 21.9 33.8 22.62V37.89C33.8 38.69 33.15 39.33 32.36 39.34C32.13 39.34 31.91 39.29 31.71 39.18C31.6 39.13 31.52 39.04 31.46 38.93C31.42 38.86 30.35 36.73 29.97 36.04C29.38 34.98 28.56 34.33 27.55 34.11C27.38 34.07 27.11 34.03 26.81 34.03L26.84 34.04Z"
                                      fill="url(#paint2_linear_298_361)" />
                                <path d="M19.34 31.55C19.03 31.55 18.78 31.3 18.78 30.99V10.56C18.78 10.25 19.03 10 19.34 10C19.65 10 19.9 10.25 19.9 10.56V31C19.9 31.31 19.65 31.56 19.34 31.56V31.55Z"
                                      fill="url(#paint3_linear_298_361)" />
                                <path d="M19.34 31.55C19.19 31.55 19.05 31.49 18.95 31.39L16.16 28.6C16.05 28.49 16 28.35 16 28.21C16 28.07 16.06 27.92 16.16 27.82C16.27 27.71 16.41 27.66 16.55 27.66C16.69 27.66 16.84 27.72 16.94 27.82L19.33 30.21L21.72 27.82C21.83 27.72 21.97 27.66 22.11 27.66C22.25 27.66 22.4 27.72 22.5 27.82C22.72 28.04 22.72 28.39 22.5 28.61L19.71 31.4C19.61 31.5 19.46 31.56 19.32 31.56L19.34 31.55Z"
                                      fill="url(#paint4_linear_298_361)" />
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_298_361" x1="0" y1="0" x2="64" y2="0"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#C7D3FF" />
                                    <stop offset="1" stop-color="#B8C8FF" stop-opacity="0.4" />
                                </linearGradient>
                                <linearGradient id="paint1_linear_298_361" x1="0" y1="0" x2="64" y2="0"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="white" stop-opacity="0.56" />
                                    <stop offset="1" stop-color="#89A3FF" />
                                </linearGradient>
                                <linearGradient id="paint2_linear_298_361" x1="16" y1="53.84" x2="48.69" y2="53.84"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F0E1C7" />
                                    <stop offset="1" stop-color="#8E8265" />
                                </linearGradient>
                                <linearGradient id="paint3_linear_298_361" x1="16" y1="53.84" x2="48.69" y2="53.84"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F0E1C7" />
                                    <stop offset="1" stop-color="#8E8265" />
                                </linearGradient>
                                <linearGradient id="paint4_linear_298_361" x1="16" y1="53.84" x2="48.69" y2="53.84"
                                                gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#F0E1C7" />
                                    <stop offset="1" stop-color="#8E8265" />
                                </linearGradient>
                                <clipPath id="clip0_298_361">
                                    <rect width="64" height="64" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Cử chỉ tương tác tiện lợi với ngón tay
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="Default-feature-five feature-section gap-25px background-020304">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-2px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-n-3-white">
                        Bậc
                        Thầy
                        Trải Nghiệm
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        Rực rỡ mọi màn hình hiển thị
                    </p>
                </div>
                <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                    Khả năng hiển thị cao cấp được thể hiện liền mạch trên cả 2 màn hình của Find N3. Với công nghệ bản
                    lề
                    hàng đầu không tạo nếp gấp cùng một
                    tỷ lệ màn hình tối ưu cho hầu hết người dùng đem lại chất lượng hiển thị tột đỉnh đến không tưởng.
                </p>
            </div>
            <div class="w-90">
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-five.png" alt="hình ảnh banner">
            </div>
            <div class="d-flex w-90 justify-content-between w-90">
                <div class="flex-column-center-start gap-18px">
                    <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center background-gradient-white-2">
                        Màn Hình Ngoài
                    </p>
                    <div class="flex-column-center-start gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Tỷ lệ
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            1:1
                        </p>
                    </div>
                    <div class="flex-column-center-start gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Kích thước
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            7.8''
                        </p>
                    </div>
                    <div class="flex-column-center-start gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Độ phân giải
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            2K+
                        </p>
                    </div>
                    <div class="flex-column-center-start gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Độ sáng tối đa
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            2800 nits
                        </p>
                    </div>
                </div>
                <div class="flex-column-center-end gap-18px">
                    <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center background-gradient-white-2">
                        Màn Hình Chính
                    </p>
                    <div class="flex-column-center-end gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Màn Hình Ngoài
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            20:9
                        </p>
                    </div>
                    <div class="flex-column-center-end gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Kích thước
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            6.3''
                        </p>
                    </div>
                    <div class="flex-column-center-end gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Độ phân giải
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            2K
                        </p>
                    </div>
                    <div class="flex-column-center-end gap-4px">
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                            Độ sáng tối đa
                        </p>
                        <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-E7CDA5 letter-spacing-024- color-center s-24">
                            2800 nits
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature-section gap-25px background-add ">
            <div class="d-flex gap-8px">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-black background-2CFF73 color-s18-w400 s-18">
                    Đặt
                    Trước
                </a>
                <a class="resetfont padding-9px-21px btn-add color-n-3-white background-1D1D1F color-s18-w400 s-18">
                    Trả
                    Góp
                    0%
                </a>
            </div>
        </section>
        <section id="section3" class="Default-feature-six feature-section gap-25px background-020304">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-2px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-n-3-white">
                        Bậc
                        Thầy
                        Nhiếp Ảnh
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        Mỗi ống kính đều là một camera chính
                    </p>
                </div>
                <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                    Từng thấu kính trên Find N3 đều được trang bị những thông số hàng đầu kết hợp với huyền thoại nhiếp
                    ảnh
                    Hasselblad đem đến độ chi tiết,
                    màu sắc đậm chất điện ảnh hơn bất kỳ chiếc điện thoại nào ở thời điểm hiện tại.
                </p>
            </div>
            <div>
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-six.png" alt="hình ảnh banner">
                <svg xmlns="http://www.w3.org/2000/svg" width="190" height="12" viewBox="0 0 190 12" fill="none">
                    <path d="M103.608 0.010128L99.1172 11.7494H106.454L106.903 10.7602H102.412L106.451 0.010128H103.608ZM142.834 0.010128L138.34 11.7494H145.677L146.126 10.7602H141.484L145.53 0.010128H142.834ZM80.1 5.66883L79.6513 6.79985H81.7476L79.7985 11.7494H87.8857L88.3343 10.7602H82.9464L84.5905 6.79985H88.0364L88.4851 5.66883H84.892L86.6903 1.14114H92.0782L92.3797 0.010128H84.296L82.1963 5.66883H80.1035H80.1ZM6.43604 5.66883L8.53582 0.010128H5.84011L3.59311 5.66883H0.4487L0 6.79985H3.29514L1.34961 11.7494H4.19605L5.99085 6.79985H10.9336L8.98803 11.7494H11.8345L16.318 0.010128H13.4715L11.3788 5.66883H6.43955H6.43604ZM26.7993 6.79985H23.8057L23.2062 7.78903H26.0491L23.5077 11.7494H24.8538L27.5495 7.78903H31.2933L31.1426 6.79985H28.1524L30.5467 3.12314L32.0435 11.7494H34.7392L32.7902 0.010128H31.1391L26.7993 6.79985ZM159.005 6.79985H156.011L155.412 7.78903H158.254L155.706 11.7494H157.052L159.751 7.78903H163.495L163.344 6.79985H160.351L162.745 3.12314L164.242 11.7494H166.934L164.992 0.010128H163.344L159.001 6.79985H159.005ZM121.275 0.010128L119.028 5.66883H117.083L116.785 6.79985H118.73L116.785 11.7494H121.577C125.576 11.7712 127.82 10.0474 127.866 8.07269C127.974 6.90531 126.979 5.93795 125.769 5.81066C127.729 5.40699 129.271 3.90503 129.212 2.69765C129.271 0.410165 126.134 0.0537684 124.122 0.010128H121.275ZM120.076 10.7602L121.615 6.63619L121.573 6.79985H123.368C124.122 6.73075 125.475 6.55619 125.464 8.21452C125.384 10.0001 122.856 10.7529 121.272 10.7602H120.073H120.076ZM121.976 5.66883L123.669 1.14114C124.683 1.03204 126.649 1.07568 126.663 2.83948C126.646 4.61055 124.542 5.71611 123.07 5.66883H121.976ZM181.313 0.010128L176.823 11.7494H179.967C187.616 11.7712 189.909 7.65811 190 4.53418C190 1.29388 187.196 0.0537684 184.16 0.010128H181.317H181.313ZM179.967 10.7602L183.711 1.14114C187.101 0.984763 187.476 3.06132 187.154 5.38517C186.726 9.65102 182.327 10.7529 179.967 10.7602ZM63.6313 2.69765C62.9232 4.36689 64.0204 5.60337 64.8267 6.23616C65.7065 6.84349 67.2244 7.53082 67.6731 8.07633C68.0692 8.59274 68.1639 9.74193 67.5224 10.3384C66.7196 11.0111 64.6304 11.4876 62.131 9.77103L61.6823 10.902C62.776 11.7494 65.3315 12.6549 68.4198 11.3275C69.843 10.7129 71.9252 7.10896 69.3172 5.38517C68.581 4.80693 66.6144 3.79229 66.022 3.40317C65.5383 3.08314 65.349 2.06486 66.32 1.42117C67.3611 0.737468 69.6327 1.05022 70.6633 1.84666L71.112 0.857479C69.8465 0.0319482 68.9105 -0.0335124 67.8238 0.010128C66.8528 -0.0335124 64.5182 0.22833 63.6313 2.69765ZM45.813 2.69765C45.189 4.36689 46.2862 5.60337 47.1591 6.23616C47.9724 6.84349 49.4937 7.53082 49.8548 8.07633C50.335 8.59274 50.4297 9.74193 49.7041 10.3384C48.9854 11.0111 46.8927 11.4876 44.4634 9.77103L44.0147 10.902C45.0488 11.7494 47.5973 12.6549 50.6015 11.3275C52.1123 10.7129 54.1911 7.10896 51.6496 5.38517C50.8468 4.80693 48.8838 3.79229 48.3545 3.40317C47.8041 3.08314 47.6183 2.06486 48.6524 1.42117C49.6269 0.737468 51.895 1.05022 52.845 1.84666L53.2937 0.857479C52.1158 0.0319482 51.1799 -0.0335124 50.1563 0.010128C49.1222 -0.0335124 46.784 0.22833 45.813 2.69765Z"
                          fill="white" />
                </svg>
            </div>
            <div class="w-90 flex-column-center gap-16px">
                <div class="flex-column-center gap-4px">
                    <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center background-gradient-white-2">
                        Camera góc rộng
                    </p>
                    <div class="d-flex gap-8px">
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            48MP
                        </p>
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            hỗ trợ Pixel Stack
                        </p>
                    </div>
                </div>
                <div class="flex-column-center gap-4px">
                    <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center background-gradient-white-2">
                        Camera góc siêu rộng
                    </p>
                    <div class="d-flex gap-8px">
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            48MP
                        </p>
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            Sony IMX581
                        </p>
                    </div>
                </div>
                <div class="flex-column-center gap-4px">
                    <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center background-gradient-white-2">
                        Camera tele kính tiềm vọng
                    </p>
                    <div class="d-flex gap-8px">
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            64MP
                        </p>
                        <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                            Zoom quang 3x
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="section4" class="Default-feature-sevent feature-section gap-25px background-020304">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-2px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center color-n-3-white">
                        Bậc
                        Thầy Hiệu Năng
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background-gradient-gold color-center">
                        Dẫn đầu trang bị phần cứng
                    </p>
                </div>
                <p class="resetfont color-n-3-white color-s18-w400 s-16 line-height-24px letter-spacing-008 color-ABB0BE color-center">
                    Find N3 sở hữu một vi xử lý mạnh mẽ nhất ở thời điểm hiện tại và trang bị đồng thời những phần cứng
                    tốt nhất giúp đem lại một trải nghiệm mượt mà,
                    tốc độ vượt trội cho mỗi thao tác bạn thực hiện.
                </p>
            </div>
            <div class="w-90">
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3/Default-feature-sevent.png"
                     alt="hình ảnh banner">
            </div>
        </section>
        <section class="feature-section gap-25px background-add ">
            <div class="d-flex gap-8px">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-black background-2CFF73 color-s18-w400 s-18">
                    Đặt
                    Trước
                </a>
                <a class="resetfont padding-9px-21px btn-add color-n-3-white background-1D1D1F color-s18-w400 s-18">
                    Trả Góp
                    0%
                </a>
            </div>
        </section>
    </div>
    <div class="oppo-n3-Flip w-100 background-n-3-white">
        <section class="Flip-feature-one feature-section">
            <div class="flex-column-center gap-6px">
                <h1 class="resetfont color-s40-w400 color-000 letter-spacing-04-">Find N3 Flip</h1>
                <p class="resetfont color-s18-w400 color-000 letter-spacing-0117-">
                    Ultra Thin. Ultra Light. Ultra
                    Powerful.
                </p>
            </div>
            <div class="w-100">
                <img class="w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-one.png" alt="hình ảnh banner">
            </div>
            <img src="~/Content/Oppon3/img-Mobile-n3/Oppo-logo.png" alt="hình ảnh banner">
        </section>
        <section class="Flip-feature-two feature-section">
            <div class="d-flex w-100 justify-content-between">
                <h2 class="resetfont color-center color-s18-w400 s-16 color--n-3-black letter-spacing-0051">Find N3</h2>
                <div class="d-flex gap-8px">
                    <button class="resetfont btn-add color-n-3-black background-2CFF73 color-s18-w400 s-14">
                        Đặt
                        Trước
                    </button>
                    <button class="resetfont btn-add color-white background-1D1D1F color-s18-w400 s-14">
                        Trả Góp
                        0%
                    </button>
                </div>
            </div>
            <div class="d-flex w-100 justify-content-between h-35px">
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#Flip-section1">
                    <p class="resetfont color--n-3-black color-s18-w400 s-14 line-height-24px">Design</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#Flip-section2">
                    <p class="resetfont color--n-3-black color-s18-w400 s-14 line-height-24px">Experience</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#Flip-section3">
                    <p class="resetfont color--n-3-black color-s18-w400 s-14 line-height-24px">Camera</p>
                </div>
                <div class="div-banner-item d-flex h-100 align-items-center feature-item" data-href="#Flip-section4">
                    <p class="resetfont color--n-3-black color-s18-w400 s-14 line-height-24px">Performance</p>
                </div>
            </div>
        </section>
        <section id="Flip-section1" class="Flip-feature-three feature-section">
            <div class="flex-column-center gap-32px padding-48-12px w-100">
                <h2 class="resetfont color-center color-s18-w400 s-28 color--n-3-black letter-spacing-028-">
                    Gập. Bừng
                    sáng khí chất
                </h2>
                <div class="flex-column-center gap-18px w-100">
                    <div class="flex-column-center gap-8px w-100">
                        <p class="background-linear-gradient-180deg color-s18-w400 s-14 line-height-22px letter-spacing-007">
                            Biểu tượng toả sáng
                        </p>
                        <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-three.png"
                             alt="hình ảnh banner">
                    </div>
                    <div class="flex-column-center gap-8px w-100">
                        <p class="background-linear-gradient-180deg color-s18-w400 s-14 line-height-22px letter-spacing-007">
                            Thiết kế cong 3D
                        </p>
                        <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-three_1.png"
                             alt="hình ảnh banner">
                    </div>
                    <div class="flex-column-center gap-8px w-100">
                        <p class="background-linear-gradient-180deg color-s18-w400 s-14 line-height-22px letter-spacing-007">
                            Đường cắt kim cương
                        </p>
                        <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-three_2.png"
                             alt="hình ảnh banner">
                    </div>
                    <div class="flex-column-center gap-8px w-100">
                        <p class="background-linear-gradient-180deg color-s18-w400 s-14 line-height-22px letter-spacing-007">
                            Camera viền vũ trụ
                        </p>
                        <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-three_3.png"
                             alt="hình ảnh banner">
                    </div>
                    <div class="flex-column-center gap-8px w-100">
                        <p class="background-linear-gradient-180deg color-s18-w400 s-14 line-height-22px letter-spacing-007">
                            Bản lề dòng chảy
                        </p>
                        <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-three_4.png"
                             alt="hình ảnh banner">
                    </div>
                </div>
                <h2 class="resetfont color--n-3-black color-s18-w400 s-16 line-height-24px background-linear-gradient-92deg">
                    Không chỉ là một món phụ kiện thời trang với thiết kế lấp lánh trên từng đường nét, Find N3 Flip còn
                    là một biểu tượng của sự phong cách giúp bạn luôn toả sáng.
                </h2>
            </div>
        </section>
        <section id="Flip-section2" class="Flip-feature-four feature-section padding-48px-12px">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-12px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center">
                        Mở. Rực sáng góc
                        nhìn
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background--Gradient-Grey-gold color-center">
                        Điện thoại gập đầu tiên sở hữu 3 camera
                    </p>
                </div>
                <p class="resetfont color-s18-w400 s-16 line-height-24px letter-spacing-008 background-linear-gradient-103deg color-center">
                    Với camera chân dung tele 32MP cao cấp lần đầu xuất hiện trên một chiếc điện thoại gập cùng khả năng
                    linh hoạt của flexform đem lại những bức ảnh không
                    chỉ sáng tạo mà còn vô cùng chất lượng, giúp bạn luôn toả sáng trong mọi khung hình.
                </p>
            </div>
            <div class="feature-four-img d-flex align-items-center w-100">
                <div class="four-img d-flex align-items-center minw-58 maxw-58">
                    <div class="four-img-item  minw-75">
                        <img class="w-100" src="~/Content/Oppon3/img_n3_Flip/火烈鸟 Flamingo 粉色 Pink 背面合起-RGB 1.png"
                             alt="hình ảnh swiper3d 5">
                        <div class="four-img-detail d-flex w-41-5">
                            <div class="four-item-item-img">
                                <div class="four-item-detail">
                                    <div class="four-item-text">
                                        <h3 class="resetfont">0,6</h3>
                                        <h2 class="resetfont">VIDEO</h2>
                                    </div>
                                    <div class="four-item-text">
                                        <h3 class="resetfont">1 x</h3>
                                        <h2 class="resetfont font-weight-600 color-F88C47">ẢNH</h2>
                                    </div>
                                    <div class="four-item-text">
                                        <h3 class="resetfont">2</h3>
                                        <img src="/oppon3/Content/Oppon3/img/CHA%cc%82N DUNG 2.png"
                                             alt="hình ảnh swiper3d 5">
                                    </div>
                                </div>
                                <svg class="w-33" xmlns="http://www.w3.org/2000/svg" width="44" height="44"
                                     viewBox="0 0 44 44" fill="none">
                                    <circle cx="21.9927" cy="21.8881" r="21.5865" fill="white"></circle>
                                    <circle cx="21.9925" cy="21.8882" r="17.7888" fill="#F88C47" stroke="black"
                                            stroke-width="1.19925"></circle>
                                </svg>
                            </div>
                            <img class="w-100 minw-100" src="~/Content/Oppon3/img_n3_Flip/Group 2085660946 1.png"
                                 alt="hình ảnh swiper3d 5">
                        </div>
                    </div>
                    <div class="margin-left-104pt">
                        <img class="align-items-center w-100" src="~/Content/Oppon3/img_n3_Flip/Rectangle 240648072.png"
                             alt="hình ảnh swiper3d 5">
                        <div class="context-four-end d-flex">
                            <h3 class="resetfont">OPPO Find N3</h3>
                            <div class="d-flex align-items-center justify-content-center gap4375px f-direction-column align-items-end w-60">
                                <svg class="w-60" xmlns="http://www.w3.org/2000/svg" width="67" height="7"
                                     viewBox="0 0 67 7" fill="none">
                                    <g clip-path="url(#clip0_671_134)">
                                        <path d="M35.8645 0.973916L33.8919 6.53733H37.1149L37.312 6.06854H35.3394L37.1133 0.973916H35.8645ZM49.4703 0.973916L47.4961 6.53733H50.7191L50.9162 6.06854H48.8774L50.6544 0.973916H49.4703ZM27.4427 3.65566L27.2456 4.19166H28.1665L27.3103 6.53733H30.8628L31.0599 6.06854H28.6931L29.4153 4.19166H30.9291L31.1262 3.65566H29.5478L30.3377 1.50992H32.7046L32.837 0.973916H29.286L28.3636 3.65566H27.4443H27.4427ZM2.82725 3.65566L3.74965 0.973916H2.56547L1.5784 3.65566H0.197107L0 4.19166H1.4475L0.592861 6.53733H1.84326L2.63169 4.19166H4.80294L3.9483 6.53733H5.1987L7.16822 0.973916H5.91783L4.99851 3.65566H2.82879H2.82725ZM9.62143 4.19166H8.30635L8.04303 4.66045H9.29189L8.17546 6.53733H8.76678L9.95096 4.66045H11.5956L11.5294 4.19166H10.2158L11.2676 2.44922L11.9251 6.53733H13.1093L12.2531 0.973916H11.5278L9.62143 4.19166ZM54.669 4.19166H53.3539L53.0906 4.66045H54.3395L53.22 6.53733H53.8113L54.997 4.66045H56.6416L56.5754 4.19166H55.2603L56.3121 2.44922L56.9696 6.53733H58.1523L57.2992 0.973916H56.5754L54.6675 4.19166H54.669ZM41.7208 0.973916L40.7337 3.65566H39.8791L39.7482 4.19166H40.6028L39.7482 6.53733H41.8532C43.6102 6.54767 44.5958 5.73073 44.6158 4.79488C44.6635 4.24164 44.2262 3.7832 43.6949 3.72287C44.5557 3.53157 45.2333 2.81977 45.2071 2.24757C45.2333 1.1635 43.8551 0.994598 42.9712 0.973916H41.7208ZM41.1941 6.06854L41.8701 4.11411L41.8517 4.19166H42.6401C42.9712 4.15892 43.5656 4.07619 43.5609 4.8621C43.5255 5.70833 42.4153 6.06509 41.7192 6.06854H41.1926H41.1941ZM42.0288 3.65566L42.7725 1.50992C43.2176 1.45822 44.0814 1.4789 44.0876 2.31479C44.0799 3.15412 43.156 3.67806 42.5092 3.65566H42.0288ZM62.5018 0.973916L60.5291 6.53733H61.9104C65.2705 6.54767 66.2776 4.59841 66.3176 3.11793C66.3176 1.58231 65.0857 0.994598 63.7522 0.973916H62.5033H62.5018ZM61.9104 6.06854L63.5551 1.50992C65.0441 1.43581 65.2089 2.41992 65.0672 3.52123C64.8794 5.54287 62.9468 6.06509 61.9104 6.06854ZM21.9292 2.24757C21.6181 3.03865 22.1001 3.62464 22.4543 3.92452C22.8408 4.21234 23.5076 4.53808 23.7047 4.79661C23.8787 5.04134 23.9203 5.58596 23.6385 5.86861C23.2858 6.18746 22.368 6.41323 21.2701 5.59975L21.073 6.13575C21.5534 6.53733 22.676 6.96647 24.0327 6.3374C24.6579 6.04613 25.5726 4.33816 24.4269 3.52123C24.1035 3.24719 23.2396 2.76634 22.9794 2.58193C22.7669 2.43026 22.6837 1.94769 23.1103 1.64263C23.5676 1.31861 24.5655 1.46683 25.0182 1.84428L25.2153 1.37549C24.6594 0.984257 24.2482 0.953234 23.7709 0.973916C23.3443 0.953234 22.3188 1.07733 21.9292 2.24757ZM16.253 2.24757C15.9789 3.03865 16.4608 3.62464 16.8443 3.92452C17.2015 4.21234 17.8699 4.53808 18.0285 4.79661C18.2394 5.04134 18.281 5.58596 17.9622 5.86861C17.6466 6.18746 16.7272 6.41323 15.6601 5.59975L15.463 6.13575C15.9173 6.53733 17.0368 6.96647 18.3565 6.3374C19.0202 6.04613 19.9333 4.33816 18.8169 3.52123C18.4642 3.24719 17.6019 2.76634 17.3694 2.58193C17.1276 2.43026 17.046 1.94769 17.5003 1.64263C17.9284 1.31861 18.9247 1.46683 19.342 1.84428L19.5391 1.37549C19.0217 0.984257 18.6105 0.953234 18.1609 0.973916C17.7066 0.953234 16.6795 1.07733 16.253 2.24757Z"
                                              fill="black"></path>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_671_134">
                                            <rect width="66.5" height="5.6875" fill="white"
                                                  transform="translate(0 0.96875)"></rect>
                                        </clipPath>
                                    </defs>
                                </svg>
                                <div class="d-flex align-items-center justify-content-center align-items-end gap35px w-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5"
                                         fill="none">
                                        <circle cx="2.3125" cy="2.53125" r="2.1875" fill="#FF7C14"></circle>
                                    </svg>
                                    <p class="resetfont color-detail-item-four">65mm</p>
                                    <p class="resetfont color-detail-item-four">f/4.5</p>
                                    <p class="resetfont color-detail-item-four">1/1667</p>
                                    <p class="resetfont color-detail-item-four">ISO100</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-20-8">
                    <div class="w-100">
                        <img class="w-100 align-items-center" src="/oppon3/Content/Oppon3/img/Rectangle 240648072_1.png"
                             alt="hình ảnh swiper3d 5">
                    </div>
                    <div class="context-four-end d-flex">
                        <h3 class="resetfont">OPPO Find N3</h3>
                        <div class="d-flex align-items-center justify-content-center gap4375px f-direction-column align-items-end">
                            <svg class="w-60" xmlns="http://www.w3.org/2000/svg" width="67" height="7"
                                 viewBox="0 0 67 7" fill="none">
                                <g clip-path="url(#clip0_671_134)">
                                    <path d="M35.8645 0.973916L33.8919 6.53733H37.1149L37.312 6.06854H35.3394L37.1133 0.973916H35.8645ZM49.4703 0.973916L47.4961 6.53733H50.7191L50.9162 6.06854H48.8774L50.6544 0.973916H49.4703ZM27.4427 3.65566L27.2456 4.19166H28.1665L27.3103 6.53733H30.8628L31.0599 6.06854H28.6931L29.4153 4.19166H30.9291L31.1262 3.65566H29.5478L30.3377 1.50992H32.7046L32.837 0.973916H29.286L28.3636 3.65566H27.4443H27.4427ZM2.82725 3.65566L3.74965 0.973916H2.56547L1.5784 3.65566H0.197107L0 4.19166H1.4475L0.592861 6.53733H1.84326L2.63169 4.19166H4.80294L3.9483 6.53733H5.1987L7.16822 0.973916H5.91783L4.99851 3.65566H2.82879H2.82725ZM9.62143 4.19166H8.30635L8.04303 4.66045H9.29189L8.17546 6.53733H8.76678L9.95096 4.66045H11.5956L11.5294 4.19166H10.2158L11.2676 2.44922L11.9251 6.53733H13.1093L12.2531 0.973916H11.5278L9.62143 4.19166ZM54.669 4.19166H53.3539L53.0906 4.66045H54.3395L53.22 6.53733H53.8113L54.997 4.66045H56.6416L56.5754 4.19166H55.2603L56.3121 2.44922L56.9696 6.53733H58.1523L57.2992 0.973916H56.5754L54.6675 4.19166H54.669ZM41.7208 0.973916L40.7337 3.65566H39.8791L39.7482 4.19166H40.6028L39.7482 6.53733H41.8532C43.6102 6.54767 44.5958 5.73073 44.6158 4.79488C44.6635 4.24164 44.2262 3.7832 43.6949 3.72287C44.5557 3.53157 45.2333 2.81977 45.2071 2.24757C45.2333 1.1635 43.8551 0.994598 42.9712 0.973916H41.7208ZM41.1941 6.06854L41.8701 4.11411L41.8517 4.19166H42.6401C42.9712 4.15892 43.5656 4.07619 43.5609 4.8621C43.5255 5.70833 42.4153 6.06509 41.7192 6.06854H41.1926H41.1941ZM42.0288 3.65566L42.7725 1.50992C43.2176 1.45822 44.0814 1.4789 44.0876 2.31479C44.0799 3.15412 43.156 3.67806 42.5092 3.65566H42.0288ZM62.5018 0.973916L60.5291 6.53733H61.9104C65.2705 6.54767 66.2776 4.59841 66.3176 3.11793C66.3176 1.58231 65.0857 0.994598 63.7522 0.973916H62.5033H62.5018ZM61.9104 6.06854L63.5551 1.50992C65.0441 1.43581 65.2089 2.41992 65.0672 3.52123C64.8794 5.54287 62.9468 6.06509 61.9104 6.06854ZM21.9292 2.24757C21.6181 3.03865 22.1001 3.62464 22.4543 3.92452C22.8408 4.21234 23.5076 4.53808 23.7047 4.79661C23.8787 5.04134 23.9203 5.58596 23.6385 5.86861C23.2858 6.18746 22.368 6.41323 21.2701 5.59975L21.073 6.13575C21.5534 6.53733 22.676 6.96647 24.0327 6.3374C24.6579 6.04613 25.5726 4.33816 24.4269 3.52123C24.1035 3.24719 23.2396 2.76634 22.9794 2.58193C22.7669 2.43026 22.6837 1.94769 23.1103 1.64263C23.5676 1.31861 24.5655 1.46683 25.0182 1.84428L25.2153 1.37549C24.6594 0.984257 24.2482 0.953234 23.7709 0.973916C23.3443 0.953234 22.3188 1.07733 21.9292 2.24757ZM16.253 2.24757C15.9789 3.03865 16.4608 3.62464 16.8443 3.92452C17.2015 4.21234 17.8699 4.53808 18.0285 4.79661C18.2394 5.04134 18.281 5.58596 17.9622 5.86861C17.6466 6.18746 16.7272 6.41323 15.6601 5.59975L15.463 6.13575C15.9173 6.53733 17.0368 6.96647 18.3565 6.3374C19.0202 6.04613 19.9333 4.33816 18.8169 3.52123C18.4642 3.24719 17.6019 2.76634 17.3694 2.58193C17.1276 2.43026 17.046 1.94769 17.5003 1.64263C17.9284 1.31861 18.9247 1.46683 19.342 1.84428L19.5391 1.37549C19.0217 0.984257 18.6105 0.953234 18.1609 0.973916C17.7066 0.953234 16.6795 1.07733 16.253 2.24757Z"
                                          fill="black"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_671_134">
                                        <rect width="66.5" height="5.6875" fill="white"
                                              transform="translate(0 0.96875)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="d-flex align-items-center justify-content-center align-items-end gap35px w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5"
                                     fill="none">
                                    <circle cx="2.3125" cy="2.53125" r="2.1875" fill="#FF7C14"></circle>
                                </svg>
                                <p class="resetfont color-detail-item-four">65mm</p>
                                <p class="resetfont color-detail-item-four">f/4.5</p>
                                <p class="resetfont color-detail-item-four">1/1667</p>
                                <p class="resetfont color-detail-item-four">ISO100</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-18-7">
                    <div class="w-100">
                        <img class="align-items-center w-100"
                             src="~/Content/Oppon3/img_n3_Flip/Rectangle 240648072_2.png" alt="hình ảnh swiper3d 5">
                    </div>
                    <div class="context-four-end d-flex">
                        <h3 class="resetfont">OPPO Find N3</h3>
                        <div class="d-flex align-items-center justify-content-center gap4375px f-direction-column align-items-end">
                            <svg class="w-60" xmlns="http://www.w3.org/2000/svg" width="67" height="7"
                                 viewBox="0 0 67 7" fill="none">
                                <g clip-path="url(#clip0_671_134)">
                                    <path d="M35.8645 0.973916L33.8919 6.53733H37.1149L37.312 6.06854H35.3394L37.1133 0.973916H35.8645ZM49.4703 0.973916L47.4961 6.53733H50.7191L50.9162 6.06854H48.8774L50.6544 0.973916H49.4703ZM27.4427 3.65566L27.2456 4.19166H28.1665L27.3103 6.53733H30.8628L31.0599 6.06854H28.6931L29.4153 4.19166H30.9291L31.1262 3.65566H29.5478L30.3377 1.50992H32.7046L32.837 0.973916H29.286L28.3636 3.65566H27.4443H27.4427ZM2.82725 3.65566L3.74965 0.973916H2.56547L1.5784 3.65566H0.197107L0 4.19166H1.4475L0.592861 6.53733H1.84326L2.63169 4.19166H4.80294L3.9483 6.53733H5.1987L7.16822 0.973916H5.91783L4.99851 3.65566H2.82879H2.82725ZM9.62143 4.19166H8.30635L8.04303 4.66045H9.29189L8.17546 6.53733H8.76678L9.95096 4.66045H11.5956L11.5294 4.19166H10.2158L11.2676 2.44922L11.9251 6.53733H13.1093L12.2531 0.973916H11.5278L9.62143 4.19166ZM54.669 4.19166H53.3539L53.0906 4.66045H54.3395L53.22 6.53733H53.8113L54.997 4.66045H56.6416L56.5754 4.19166H55.2603L56.3121 2.44922L56.9696 6.53733H58.1523L57.2992 0.973916H56.5754L54.6675 4.19166H54.669ZM41.7208 0.973916L40.7337 3.65566H39.8791L39.7482 4.19166H40.6028L39.7482 6.53733H41.8532C43.6102 6.54767 44.5958 5.73073 44.6158 4.79488C44.6635 4.24164 44.2262 3.7832 43.6949 3.72287C44.5557 3.53157 45.2333 2.81977 45.2071 2.24757C45.2333 1.1635 43.8551 0.994598 42.9712 0.973916H41.7208ZM41.1941 6.06854L41.8701 4.11411L41.8517 4.19166H42.6401C42.9712 4.15892 43.5656 4.07619 43.5609 4.8621C43.5255 5.70833 42.4153 6.06509 41.7192 6.06854H41.1926H41.1941ZM42.0288 3.65566L42.7725 1.50992C43.2176 1.45822 44.0814 1.4789 44.0876 2.31479C44.0799 3.15412 43.156 3.67806 42.5092 3.65566H42.0288ZM62.5018 0.973916L60.5291 6.53733H61.9104C65.2705 6.54767 66.2776 4.59841 66.3176 3.11793C66.3176 1.58231 65.0857 0.994598 63.7522 0.973916H62.5033H62.5018ZM61.9104 6.06854L63.5551 1.50992C65.0441 1.43581 65.2089 2.41992 65.0672 3.52123C64.8794 5.54287 62.9468 6.06509 61.9104 6.06854ZM21.9292 2.24757C21.6181 3.03865 22.1001 3.62464 22.4543 3.92452C22.8408 4.21234 23.5076 4.53808 23.7047 4.79661C23.8787 5.04134 23.9203 5.58596 23.6385 5.86861C23.2858 6.18746 22.368 6.41323 21.2701 5.59975L21.073 6.13575C21.5534 6.53733 22.676 6.96647 24.0327 6.3374C24.6579 6.04613 25.5726 4.33816 24.4269 3.52123C24.1035 3.24719 23.2396 2.76634 22.9794 2.58193C22.7669 2.43026 22.6837 1.94769 23.1103 1.64263C23.5676 1.31861 24.5655 1.46683 25.0182 1.84428L25.2153 1.37549C24.6594 0.984257 24.2482 0.953234 23.7709 0.973916C23.3443 0.953234 22.3188 1.07733 21.9292 2.24757ZM16.253 2.24757C15.9789 3.03865 16.4608 3.62464 16.8443 3.92452C17.2015 4.21234 17.8699 4.53808 18.0285 4.79661C18.2394 5.04134 18.281 5.58596 17.9622 5.86861C17.6466 6.18746 16.7272 6.41323 15.6601 5.59975L15.463 6.13575C15.9173 6.53733 17.0368 6.96647 18.3565 6.3374C19.0202 6.04613 19.9333 4.33816 18.8169 3.52123C18.4642 3.24719 17.6019 2.76634 17.3694 2.58193C17.1276 2.43026 17.046 1.94769 17.5003 1.64263C17.9284 1.31861 18.9247 1.46683 19.342 1.84428L19.5391 1.37549C19.0217 0.984257 18.6105 0.953234 18.1609 0.973916C17.7066 0.953234 16.6795 1.07733 16.253 2.24757Z"
                                          fill="black"></path>
                                </g>
                                <defs>
                                    <clipPath id="clip0_671_134">
                                        <rect width="66.5" height="5.6875" fill="white"
                                              transform="translate(0 0.96875)"></rect>
                                    </clipPath>
                                </defs>
                            </svg>
                            <div class="d-flex align-items-center justify-content-center align-items-end gap35px w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5"
                                     fill="none">
                                    <circle cx="2.3125" cy="2.53125" r="2.1875" fill="#FF7C14"></circle>
                                </svg>
                                <p class="resetfont color-detail-item-four">65mm</p>
                                <p class="resetfont color-detail-item-four">f/4.5</p>
                                <p class="resetfont color-detail-item-four">1/1667</p>
                                <p class="resetfont color-detail-item-four">ISO100</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="feature-section gap-25px background-add ">
            <div class="d-flex gap-8px">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3-flip?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-black background-2CFF73 color-s18-w400 s-18">
                    Đặt
                    Trước
                </a>
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-white background-1D1D1F color-s18-w400 s-18">
                    Trả
                    Góp
                    0%
                </a>
            </div>
        </section>
        <section id="Flip-section3" class="Flip-feature-five feature-section">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-12px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center">
                        Chạm. Toả sáng toàn
                        Năng
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background--Gradient-Grey-gold color-center">
                        Đa tương tác thông minh
                    </p>
                </div>
                <p class="resetfont color-s18-w400 s-16 line-height-24px letter-spacing-008 background-linear-gradient-103deg color-center">
                    Gương thần Find N3 Flip giờ đây đã vạn năng hơn rất nhiều, nhờ vào hàng loạt các thao tác thông minh
                    không thua gì màn hình chính thực thụ
                    và khả năng chạy được nhiều mini apps hơn thế hệ trước.
                </p>
            </div>
            <div>
                <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-five.png"
                     alt="hình ảnh banner">
            </div>
            <div class="d-flex gap-24px w-90 m-w-300px">
                <div class="justify-content-space-between w-50 five-detail gap-15px">
                    <h3 class="resetfont">App hỗ trợ</h3>
                    <p class="resetfont">30+</p>
                </div>
                <div class="justify-content-space-between w-50 five-detail gap-15px">
                    <h3 class="resetfont">App phổ biến</h3>
                    <p class="resetfont">50%</p>
                </div>
            </div>
        </section>
        <section id="Flip-section4" class="Flip-feature-six feature-section gap-48px">
            <div class="flex-column-center gap-24px w-90">
                <div class="flex-column-center gap-12px">
                    <h1 class="resetfont color-s36-w400 color-000 letter-spacing-036- color-center">
                        Mở. Rực sáng góc
                        nhìn
                    </h1>
                    <p class="resetfont color-s18-w400 color-000 letter-spacing-0117- background--Gradient-Grey-gold color-center">
                        Điện thoại gập đầu tiên sở hữu 3 camera
                    </p>
                </div>
                <p class="resetfont color-s18-w400 s-16 line-height-24px letter-spacing-008 background-linear-gradient-103deg color-center">
                    Với camera chân dung tele 32MP cao cấp lần đầu xuất hiện trên một chiếc điện thoại gập cùng khả năng
                    linh hoạt của flexform đem lại những bức ảnh không
                    chỉ sáng tạo mà còn vô cùng chất lượng, giúp bạn luôn toả sáng trong mọi khung hình.
                </p>
            </div>

            <div class="d-flex w-90 align-items-end gap-17px justify-content-center ">
                <div class="feature-six-detail-two d-flex text-align-center justify-content-center f-direction-column gap-20px">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1.png" alt="hình ảnh swiper3d 5">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1_2.png" alt="hình ảnh swiper3d 5">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1_4.png" alt="hình ảnh swiper3d 5">
                </div>
                <div class="feature-six-detail-three d-flex text-align-center justify-content-center f-direction-column gap-20px">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1_1.png" alt="hình ảnh swiper3d 5">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1_3.png" alt="hình ảnh swiper3d 5">
                    <img class="w-100" src="/oppon3/Content/Oppon3/img/pet 3D 1_5.png" alt="hình ảnh swiper3d 5">
                </div>
            </div>
            <div class="w-90">
                <img class=" w-100" src="~/Content/Oppon3/img-Mobile-n3-Flip/Flip-feature-six-end.png"
                     alt="hình ảnh banner">
            </div>
        </section>
        <section class="feature-section gap-25px background-add ">
            <div class="d-flex gap-8px">
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3-flip?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-black background-2CFF73 color-s18-w400 s-18">
                    Đặt
                    Trước
                </a>
                <a href="https://hoanghamobile.com/dien-thoai-di-dong/oppo-find-n3?buy=1"
                   class="resetfont padding-9px-21px btn-add color-n-3-white background-1D1D1F color-s18-w400 s-18">
                    Trả Góp
                    0%
                </a>
            </div>
        </section>
    </div>

    @* <div class="cp-video-modal video-mask" style="padding-top:40px">
        <div class="feature-section">
        <video class="video" src="~/Content/Oppon3/video/OPPO N3 Mobile combine 30s 16x9 ending KV master.mp4"
        x5-video-player-fullscreen="true" preload="auto" controls="controls"></video>
        <a href="javascript:;" class="close-video-btn">
        <i class="fas fa-times"></i>
        </a>
        </div>
        </div> *@

    <div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: none;"
         id="videoPopup">
        <div class="fancybox-wrap fancybox-desktop fancybox-type-html fancybox-opened" tabindex="-1">
            <div class="fancybox-skin" style="padding: 0px; width: auto; height: auto;">
                <div class="fancybox-outer">
                    <div class="fancybox-inner" style="overflow: hidden; width: 100%; height: auto;">
                        <div class="cbg-jwplayer"
                             style="display: flex;height:auto;align-items: center;background:#000;">
                            <video autoplay controls id="myVideo" playsinline="true" webkit-playsinline="true"
                                   controlslist="nodownload"
                                   poster="~/Content/Oppon3/video/OPPO N3 Mobile combine 30s 16x9 ending KV master.mp4"
                                   style="width:100%;max-height:100%;max-width:640px"
                                   src="~/Content/Oppon3/video/OPPO N3 Mobile combine 30s 16x9 ending KV master.mp4"></video>
                        </div>
                        <div class="cbg-video-mask"></div>
                    </div>
                </div><a title="Close" id="closePopup" class="fancybox-item fancybox-close" href="javascript:;"></a>
            </div>
        </div>
    </div>
</main>

<script src="~/Content/Oppon3/js-css/Scroll.js?@DateTime.Now"></script>
<script src="~/Content/Oppon3/js-css/web_Mobile_v1.js?@DateTime.Now"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js?@DateTime.Now"></script>
<script src="~/Content/Oppon3/js-css/swipper-3d.js?@DateTime.Now"></script>
<script src="~/Content/Oppon3/js-css/jquery_box_video.js?@DateTime.Now"></script>